<div class="article-container">
<a class="show-toc" href="#" onclick="toggle_visibility('toc');">Table of contents</a>

<div class="article-toc-container" id="toc">
	<dl class="article-toc">
<!--<a class="show-toc close" href="#" onclick="toggle_visibility('toc');">Close</a> -->
		{% for single_topic in site.topic_order %}
			<dt data-group="{{ single_topic }}">{{ single_topic }}</dt>
			<dd>
				<ul class="list-ui">
					{% for page in site.pages %}
						{% if page.topic == single_topic and page.layout != 'article-overview' %}
							<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</dd>
		{% endfor %}
	</dl>
</div>