<div class="header-container">
    <section class="notify-info" id="cookie-notification">
        <p>Hi there, sorry to bother you! To offer you a better experience, and help us better getting to know our visitors we ask consent to offer you a cookie. You can <a href="privacy.html#privacy-policy-cookies">review our cookie policy here</a>.</p>
        <p><a class="close" href="#" onClick="handleCookie('cookie-notification')">Accept &amp; close</a></p>
    </section>
    <header class="header-main">
        <a class="image-link" href="/">
            ​<picture>
                <source media="(max-width: 48em)" srcset="/img/logo.svg" type="image/svg+xml">
                <source srcset="/img/logo-hor.svg" type="image/svg+xml">
                <img src="/img/logo-hor.svg" alt="">
            </picture>
        </a>
        <div>
            <a class="nav-main-contact button--small" href="/contact.html">Contact us</a>
        </div>
    </header>
    <nav class="nav-main">
    	<ul>
        	<li class="nav-main--home"><a href="/">Home</a></li>
        	<li class="nav-main--products"><a href="/products.html">Products</a></li>
        	<li class="nav-main--knowledge-base"><a href="/knowledge-base">Knowledge base</a></li>
        	<li class="nav-main--team"><a href="/team.html">Team</a></li>
        	<li class="nav-main--contact"><a href="/contact.html">Contact</a></li>
    	</ul>
    </nav>
</div>