<footer>
	<section class="footer-links">
		<ul class="list-ui-hor">
			<li><a href="/privacy/">Privacy Policy</a></li>
			<li><a href="/disclaimer/">Disclaimer</a></li>
			<li><a href="/styleguide/">Styleguide</a></li>
		</ul>
	</section>
	<small class="footer-copyright">Copyright © 2018 SeMI. All Rights Reserved.</small>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/semi.js"></script>
</body>
</html>