<footer>
	<section class="footer-links">
		<ul class="list-ui-hor">
			<li><a href="/privacy/">Privacy Policy</a></li>
			<li><a href="/disclaimer/">Disclaimer</a></li>
		</ul>
	</section>
	<small class="footer-copyright">Copyright © 2018 SeMI. All Rights Reserved.</small>
</footer>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/semi.js?build={{ 'now' | date: '%Y%m%d%H%M' }}"></script>
<script src="//rum-static.pingdom.net/pa-5b22f622a42dbb00070002a5.js" async></script>
</body>
</html>