<section class="section-support">
<!--
	<h2>Don’t know your use case yet?</h2>
	<p>We are here to help. <a href="#">Book a Use Case exploration workshop</a> and let’s explore together.</p>
-->
<!--
	<section class="semi-newsletter">
		<h4>Subscribe to our newsletter</h4>
		<p>Enter your email address and we’ll keep you informed on SeMI.</p>
		<form action="">
			<label for="input-email">Email address</label>
			<input id="input-email" type="email" />
			<input type="submit" value="Subscribe">
		</form>
	</section>
-->
</section>
<footer>
<!--
	<section class="semi-newsletter">
		<h4>Subscribe to our newsletter</h4>
		<p>Enter your email address and we’ll keep you informed on SeMI.</p>
		<form action="">
			<label for="input-email">Email address</label><input id="input-email" type="email" />
			<input class="tmp-btn" type="submit" value="Subscribe">
		</form>
	</section>
-->
	<section class="footer-links">
		<ul class="list-ui-hor">
			<!--<li><a href="#">Contact</a></li>-->
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Disclaimer</a></li>
			<!--<li><a href="#">FAQs</a></li>
			<li><a href="#">The SeMI Brand</a></li>
			<li><a href="#">Team</a></li>
			<li><a href="#">Tools</a></li>-->
		</ul>
	</section>
	<small class="footer-copyright">Copyright © 2018 SeMI. All Rights Reserved.</small>
</footer>
</body>
</html>