<!DOCTYPE html>
{% if page.open-graph-type == "article" %}
	<html itemscope itemtype="http://schema.org/Article" lang="en">
{% elsif page.open-graph-type == "product" %}
	<html itemscope itemtype="http://schema.org/Product" lang="en">
{% else %}
	<html lang="en">
{% endif %}
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="SeMI, the decentralized knowledge network" />
	<meta name="description" content="{{ page.description }}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="{{ page.open-graph-type }}" />
	<meta name="twitter:card" content="{{ page.open-graph-type }}">
	<meta property="og:url" content="{{ site.baseurl }}" />
	<meta property="og:description" content="{{ page.description }}" />
	<meta property="og:site_name" content="SeMI, the decentralized knowledge network" />
	<meta name="twitter:site" content="@seminetwork">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:description" content="{{ page.description }}">
	<meta name="twitter:creator" content="@bobvanluijt">
	<meta name="twitter:image" content="https://www.semi.network/assets/SeMI-logo-m.png">
	<meta property="og:image" content="https://www.semi.network/assets/SeMI-logo-m.png" />
	<meta itemprop="image" content="https://www.semi.network/assets/SeMI-logo-m.png">
	<title>{{ page.title }}</title>
	<link rel="canonical" href="https://www.semi.network{{ page.url | replace:'index.html','' }}" />
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i|Alegreya:400,400i,500,500i|IBM+Plex+Mono:400,600" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/favicon.png" />
	<link href="/css/style.css?build={{ 'now' | date: '%Y%m%d%H%M' }}" rel="stylesheet" />
</head>