<a class="logo" href="/"><i>Homepage</i></a>
<div>
    <a class="nav-main-contact button" href="/contact.html">Contact us</a>
</div>
<nav class="nav-main">
	<ul>
<!--     	<li><a href="/">Home</a></li> -->
    	<li><a href="/products.html">Products</a></li>
<!--     	<li><a href="/playground.html">Playground</a></li> -->
    	<li><a href="/knowledge-base">Knowledge base</a></li><li><a href="/team.html">Team</a></li><li><a href="/contact.html">Contact</a></li>
<!--
    	<li class="search">
        	<form action="search.html?query=">
            	<section class="search-meta">
                	<input name="search" type="search" />
                	<input class="button--small" type="submit" value="Search" />
            	</section>
        	</form>
    	</li>
-->
	</ul>
</nav>