<!DOCTYPE HTML>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="SeMI" />
	<meta name="description" content="SeMI is a Knowledge Network of companies, who want enrich their market and customer insights by collaborating with each other." />
	<title>{{ page.title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet" />
</head>
