.page--article-overview .list-bullet {
    margin-bottom: 3em;
}

.article-overview {
	list-style: none;
	section {
    	margin-top:4em;
	}
	h3 {
    	a {
        	//border-bottom: none;
        	color: $color-black;
        	&:hover, &:focus, &:active {
            	color: $color-white;
        	}
    	}
	}
	h4 {
    	font-family: $typeface-body;
	}
	ol {
    	list-style: none;
    	li {
        	margin-bottom: 1em;
    	}
    	p {
            font-size: 1.35rem;
        	font-style: italic;
    	}
	}
}