table {
    border-spacing: 0 .5em;
    table-layout: auto;
}

th, td {
    white-space: pre-wrap;
}

th {
    font-weight: 500;
    text-align: left;
}

td:not(:last-of-type) {
    padding-right: 2em;
}