.page--article-overview .list-bullet {
    margin-bottom: 3em;
}

.article-overview {
	list-style: none;
	section {
    	margin: 2em 0 3em;
    	&:last-of-type {
        	margin-bottom: 0;
    	}
	}
	h3 {
    	a {
        	//border-bottom: none;
        	color: $color-black;
        	&:hover, &:focus, &:active {
            	color: $color-white;
        	}
    	}
	}
	h4 {
    	font-family: $typeface-body;
	}
	ol {
    	list-style: none;
    	margin-top: 1em;
    	li {
        	margin-bottom: 1em;
    	}
    	p {
            font-size: 1.35rem;
        	font-style: italic;
    	}
	}
}

.article-index {
    @media screen and (min-width: 48em) {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
        li {            
            &:not(:last-child) {
                margin-right: 1em;
            }
        }
    }
    div {
        padding: 2em;
    }
    li {
        border-radius: $border-radius-1;
        flex: 1;
        list-style: none;
        max-width: 100%;
        &:hover, &:focus, &:active {
            border-radius: $border-radius-2;
        }
    }
}

.semi-knowledge-flow-start, .semi-knowledge-flow-build, .semi-knowledge-flow-optimize { // RtP specs
    div {
        align-items: center;
        background: $color-semi-accent;
        border-radius: $border-radius-3;
        color: $color-white;
        display: flex;
        flex-direction: column;
        height: 264px;
        justify-content: space-between;
        padding: .5em;
        text-align: center;
    }
    h2 {
        color: $color-white;
    }
    > p {
        margin: 1em;
    }
    img {
        width: 10rem;
    }
}

.semi-knowledge-flow-build { // RtP specs
    div {
        background: $color-support;
    }
}

.semi-knowledge-flow-optimize { // RtP specs
    div {
        background: $color-almostblack;
    }
}

.knowledge-flow-start {
    blockquote:before {
        color: $color-almostblack-tint--5;
    }
}

.knowledge-flow-build {
    blockquote:before {
        color: $color-almostblack-analogous-tint--5;
    }
}

.knowledge-flow-optimize {
    blockquote:before {
        color: $color-almostblack-triadic-tint--5;
    }
}

.article-toc { // RtP specs
    //@include transition-out;
    //opacity: .5;
    //&:hover {
    //    @include transition-in;
    //    opacity: 1;
    //}
    border: 2px solid $color-semi-accent;
    border-radius: $border-radius-3;
    padding: 1em;
    dt {
        //border-radius: $border-radius-3;
        //color: $color-white;
        //margin-bottom: 1em;
        //margin-top: 0;
        //padding: .5em 1em;
        //text-align: center;
        //~ dd {
        //   margin-bottom: 1em;
        //}
    }
}

.knowledge-base--optimize {
    [data-group~='Optimize'] {
        background: $color-almostblack-triadic-tint--5;
    }
}