.list-bullet {
	li {
		list-style: none;
		list-style-image: url(/img/bullet.svg);
		list-style-position: outside;
	}
}

.list-ui {
	li {
		list-style: none !important;
	}
}

.list-ui-hor {
	li {
		display: inline-block;
		&:not(:last-of-type) {
			margin-right: $scale-1;
		}
	}
}

.article ol {
	counter-reset: li;
	list-style: none;
	li {
    	counter-increment: li;
        &:before {
            color: $color-semi;
        	content: counter(li);
            display: inline-block;
            font-weight: 700;
            margin: 0 .5em 0 -1.5em;
            text-align: right;
            width: 1em;
        }
    }
}

dt {
    font-size: 1.25rem;
    font-weight: 500;
    padding-right: .75em;
}
dd {
    font-size: 1.15rem;
    margin-top: .1em;
    p {
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 42em) {
    .def-list {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        dt {
            width: 40%;
        }
        dd {
            width: 60%;
        }
    }
}