.cookies {
    background: $color-info-bg;
    border-bottom: 1px solid $color-semi-tint-2;
    display: none;
    flex-direction: row;
    padding: 1em;
    p {
        color: $color-black;
        font-size: 1em;
        max-width: 100%;
    }
    @media screen and (min-width: 42em) {
        justify-content: space-around;
        text-align: center;
        p {
            margin-bottom: 0;
        }
        .close {
            margin-left: 2em;
            width: 2em;
        }
    }
}