.pilars {
    margin-top: 4em;
    ol {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
}

.pilar {
    @include transition-out;
    background: $color-gray-7;
    border: 1px solid $color-semi-tint-4;
	border-radius: $border-radius-3;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 1em;
    h2, h3 {
        color: $color-black;
        font-family: $typeface-body;
        font-size: 1.875rem;
        padding: 1em;
        text-align: center;
    }
    h2 {
        @include transition-out;
        background: $color-semi-tint-4;
        border-top-left-radius: .75em;
        color: $color-white;
    }
    h3 {
        font-size: 1.5rem;
        font-style: italic;
    }
    section {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
    }
    ul {
        list-style: none;
        padding: 1em;
    }
    .button--cta {
        margin: auto 1em 1em;
    }
    &:hover {  
        @include transition-in;  
        background: $color-white;
        border-color: $color-semi;
        h2 {
            @include transition-in;
            background: $color-semi;
        }
/*
        .button--cta {
            background: $color-semi-tint-4;
            color: $color-white;
        }
*/
    }
}