.list-bullet {
	li {
		list-style: none;
		list-style-image: url(/img/bullet.svg);
		list-style-position: outside;
	}
}

.list-ui {
	li {
		list-style: none;
	}
}

.list-ui-hor {
	li {
		display: inline-block;
		&:not(:last-of-type) {
			margin-right: $scale-1;
		}
	}
}

.article ol {
	counter-reset: li;
	list-style: none;
	li {
    	counter-increment: li;
        &:before {
            color: $color-semi;
        	content: counter(li);
            display: inline-block;
            font-weight: 700;
            margin-left: -1em;
            width: 1em;
        }
    }
}

dl {
    display: flex;
}
dt {
    margin-right: .7em;
}