.page--article-overview .list-bullet {
    margin-bottom: 3em;
}

.article-overview {
	list-style: none;
	section {
    	margin: 2em 0 3em;
    	&:last-of-type {
        	margin-bottom: 0;
    	}
	}
	h3 {
    	a {
        	//border-bottom: none;
        	color: $color-black;
        	&:hover, &:focus, &:active {
            	color: $color-white;
        	}
    	}
	}
	h4 {
    	font-family: $typeface-body;
	}
	ol {
    	list-style: none;
    	margin-top: 1em;
    	li {
        	margin-bottom: 1em;
    	}
    	p {
            font-size: 1.35rem;
        	font-style: italic;
    	}
	}
}

.article-index {
    @media screen and (min-width: 48em) {
        display: flex;
        justify-content: space-between;
        li {            
            &:not(:last-child) {
                margin-right: 1em;
            }
        }
    }
    div {
        padding: 2em;
    }
    li {
        border-radius: $border-radius-1;
        flex: 1;
        list-style: none;
        max-width: 100%;
        &:hover, &:focus, &:active {
            border-radius: $border-radius-2;
        }
    }
}

.semi-knowledge-flow-start, .semi-knowledge-flow-build, .semi-knowledge-flow-optimize {
    @include transition-out;
    background: $color-almostblack-tint--5;
    color: $color-white;
    &:hover, &:focus, &:active {
        @include transition-in;
        background: $color-almostblack-tint--3;
    }
    h2, p {
        color: $color-white;
    }
}

.semi-knowledge-flow-build {
    background: $color-almostblack-analogous-tint--5;
    &:hover, &:focus, &:active {
        background: $color-almostblack-analogous-tint--3;
    }
}

.semi-knowledge-flow-optimize {
    background: $color-almostblack-triadic-tint--5;&:hover, &:focus, &:active {
        background: $color-almostblack-triadic-tint--3;
    }
}

.knowledge-flow-start {
    blockquote:before {
        color: $color-almostblack-tint--5;
    }
}

.knowledge-flow-build {
    blockquote:before {
        color: $color-almostblack-analogous-tint--5;
    }
}

.knowledge-flow-optimize {
    blockquote:before {
        color: $color-almostblack-triadic-tint--5;
    }
}