.nav-main {
    margin-bottom: 1em;
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
	li {
        margin-left: .5em;
		a {
			@include transition-out;
			border-bottom: 0;
			border-radius: $border-radius-3;
			color: $color-black;
        	font-size: 1.25rem;
        	font-variant-caps: small-caps;
			padding: .5em .75em;
			text-transform: lowercase;
			white-space: nowrap;
			&:hover, &:focus, &:active {
				@include transition-in;
				background: $color-semi;
				border-radius: 0;
				color: $color-white;
				outline: none;
			}
			&:focus {
				background: $color-semi-accent;
				outline: none;
			}
		}
	}
}

.page--home .nav-main--home, .page--products .nav-main--products, .page--knowledge-base .nav-main--knowledge-base, .page--team .nav-main--team, .page--contact .nav-main--contact {
    a {
        background: $color-black;
        color: $color-white;
    }
}

.page--contact .nav-main-contact {
    display: none;
}