img {
    color: $color-black; // Making sure alt attribute is styled when image fails to load
}

figure {
    margin-bottom: 2em;
}
figcaption {   
}

.video-container {
    div {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        width: 100%;
    }
    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    figcaption {
    }
}