.notify-info, .notify-warning, .notify-success {
    background: $color-info-bg;
    border-color: $color-info;
    border-style: solid;
    border-width: 0 0 1px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    width: 100%;
    p {
        color: $color-black;
        font-size: .85em;
        max-width: 100%;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 42em) {
        flex-direction: row;
        p {
            margin-bottom: 0;
        }
        .close {
            margin-left: 2em;
        }
    }
}

.notify-warning {
    background: $color-warning-bg;
    border-color: $color-warning;
}

.notify-success {
    background: $color-success-bg;
    border-color: $color-success;
}

.notify--contextual {
    border-radius: $border-radius-2;
    border-width: 1px;
    margin-bottom: 2em;
}