.article-toc {
    dt {
        font-weight: 400;
        margin: 1rem 0 .5rem;
    }
    li {
        font-size: 1rem;
        margin-left: 1em;
    }
    a {
        border-bottom: 0;
    }
    .list-ordered {
        li:before {
            @include transition-out;
            border: 1px solid $color-semi;
            border-radius: 100%;
            font-feature-settings: 'tnum'; // Unfortunately not available in Alegrya
            font-size: .85rem;
            height: 1.5em;
            text-align: center;
            width: 1.5em;
        }
        li:hover:before {
            @include transition-in;
            background: $color-semi;
            color: $color-white;
        }
        .list-step--done:before {
            background: $color-semi-accent;
            border: 1px solid $color-semi-accent;
            color: $color-white;
        }
        .list-step--done:hover:before {
            background: $color-semi-accent-tint-4;
            border-color: $color-semi-accent-tint-4;
        }
    }
}