.header-container {
    background: $color-white;
}

.header-main {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 0;
    source, img {
        height: 4em;
    }
}

.header-main, .nav-main {
    margin: 0 auto;
    max-width: $component-primary-max-width;
}