.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -1em;
    @media screen and (min-width: 42em) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    > li {
        //flex: 1;
        margin: 0 1em 2em;
        //width: 25%;
    }
}

.card {
    //@include background-opacity($color-support, .05);
    @include background-opacity($color-almostblack, .05);
    @include transition-out;
    //border: $border-1;
    //border-color: $color-support;
    border-radius: $border-radius-1;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    //&:hover {  
    //    @include background-opacity($color-almostblack, .05);
    //    @include transition-out;
    //}
}