.pilars {
    ol {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        margin: 3em -.5em 1em;
        @media screen and (min-width: 48em) {
            flex-direction: row;
        }
    }
}

.pilar {
    @include transition-out;
    background: $color-gray-7;
    border: 1px solid $color-semi-tint-4;
	border-radius: $border-radius-3;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden; // Cascade border radius
    margin: 0 .5em 1em;
    h2, h3, h4 {
        color: $color-black;
        font-family: $typeface-body;
        font-size: 1.875rem;
        padding: 1em;
        text-align: center;
    }
    h2 {
        @include transition-out;
        background: $color-semi-tint-4;
        color: $color-white;
    }
    h3 {
        font-style: italic;
    }
    section {
        display: flex;
        flex-direction: column;
        section {
            padding: 0 1em 1em;
        }
    }
    ul {
        list-style: none;
    }
    .button--cta {
        margin: auto 1em 1em;
    }
    &:hover {  
        @include transition-in;  
        background: $color-white;
        border-color: $color-semi;
        h2 {
            @include transition-in;
            background: $color-semi;
        }
    }
}