.cards {
    display: inline-grid;
    grid-auto-rows: 1fr;
    grid-gap: 2em;
    font-size: 75%;
    list-style: none;
    width: 100%;
    @media screen and (min-width: 48em) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 80em) {
        grid-template-columns: repeat(4, 1fr);
    }
}