.list-bullet {
	li {
		list-style: none;
		list-style-image: url(/img/bullet.svg);
		list-style-position: outside;
	}
}

.list-ui {
	li {
		list-style: none;
	}
}

.list-ui-hor {
	li {
		display: inline-block;
		&:not(:last-of-type) {
			margin-right: $scale-1;
		}
	}
}

dl {
    display: flex;
}
dt {
    margin-right: .7em;
}