.cards {
    display: grid;
    //grid-auto-rows: 1fr;
    //grid-gap: 2em;
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    width: 100%;
    > li {
        padding: 1em;
    }
    @media screen and (min-width: 48em) {
        -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, 1fr);
    }
    //@media screen and (min-width: 80em) {
    //    grid-template-columns: repeat(4, 1fr);
    //}
}