.list-bullet {
	li {
		list-style: none;
		list-style-image: url(/img/bullet.svg);
		list-style-position: outside;
		ul li {
    		list-style-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='10' width='10' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m4.9458.3333c1.275 0 2.3625.45 3.2625 1.35s1.35 2 1.35 3.3c0 1.275-.45 2.3688-1.35 3.2813s-1.9875 1.3687-3.2625 1.3687-2.3625-.4562-3.2625-1.3687-1.35-2.0063-1.35-3.2813c0-1.3.45-2.4 1.35-3.3s1.9875-1.35 3.2625-1.35z' fill='#{data-uri-color($color-semi)}' fill-rule='evenodd'/%3e%3c/svg%3e");
		}
	}
}

.list-ui {
	li {
		list-style: none !important;
	}
}

.list-ui-hor {
	li {
		display: inline-block;
		&:not(:last-of-type) {
			margin-right: $scale-1;
		}
	}
}

.article {
    > ul, > ol {
        margin-bottom: 2em;
    }
    li {
    	list-style-position: outside;
		margin-left: -.25em;
		padding-left: .25em;
		ul {
    		margin-top: .5em;
		    li {		
    		    list-style-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='10' width='10' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m4.9458.3333c1.275 0 2.3625.45 3.2625 1.35s1.35 2 1.35 3.3c0 1.275-.45 2.3688-1.35 3.2813s-1.9875 1.3687-3.2625 1.3687-2.3625-.4562-3.2625-1.3687-1.35-2.0063-1.35-3.2813c0-1.3.45-2.4 1.35-3.3s1.9875-1.35 3.2625-1.35z' fill='#{data-uri-color($color-support)}' fill-rule='evenodd'/%3e%3c/svg%3e");
                margin-left: 1em;
            }
		}
    }
	ul li {
		list-style: none;
		list-style-image: url("data:image/svg+xml;charset=UTF-8,%3csvg height='10' width='10' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m4.9458.3333c1.275 0 2.3625.45 3.2625 1.35s1.35 2 1.35 3.3c0 1.275-.45 2.3688-1.35 3.2813s-1.9875 1.3687-3.2625 1.3687-2.3625-.4562-3.2625-1.3687-1.35-2.0063-1.35-3.2813c0-1.3.45-2.4 1.35-3.3s1.9875-1.35 3.2625-1.35z' fill='#{data-uri-color($color-semi)}' fill-rule='evenodd'/%3e%3c/svg%3e");
	}
    table {
        margin-bottom: 2em;
    }
    li li {
        margin-left: 1em;
    }
    ol {
    	counter-reset: li;
    	list-style: none;
    	> li {
        	counter-increment: li; 
        	list-style-image: none !important;
            &:before {
                color: $color-semi;
            	content: counter(li);
                display: inline-block;
                font-weight: 700;
                margin: 0 .5em 0 -1.5em;
                text-align: right;
                width: 1em;
            }
        }
    }
}

dt {
    font-size: 1.25rem;
    font-weight: 500;
    padding-right: .75em;
}
dd {
    font-size: 1.15rem;
    margin-top: .1em;
    p {
        font-size: 1.15rem;
    }
}

@media screen and (min-width: 42em) {
    .def-list {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        dt {
            width: 40%;
        }
        dd {
            width: 60%;
        }
    }
}