.article-overview {
	list-style: none;
	section {
    	margin-top: 2em;
	}
	h3 {
    	a {
        	border-bottom: none;
        	//color: $color-black;
        	&:hover, &:focus, &:active {
            	color: $color-white;
        	}
    	}
	}
	ol {
    	list-style: none;
    	li {
        	margin-bottom: 2em;
    	}
    	p {
            font-size: 1.15rem;
        	font-style: italic;
    	}
	}
}