.article-author {
    margin-bottom: 2em;
    margin-top: 2em;
    position: relative;
	h2 {
		font-family: $typeface-body;
		font-size: 1em;
		margin-bottom: 1em;
	}
	img {
		border-radius: $border-radius-1;
		margin-bottom: .5em;
		margin-right: 1em;
        max-width: 5em;
        vertical-align: top;
	}
	a {
    	margin-top: -2em;
    	position: absolute;
    	top: 1em;
	}
}

.card-author {
    width: 9rem;
	img {
		border-radius: $border-radius-1;
	}
	ul {
    	display: flex;
    	flex-direction: column;
    	list-style: none;
	}
	li {
    	font-size: 1.15rem;
    	&:last-of-type {
        	margin-top: 1em;
    	}
	}
	h2 {
        margin-bottom: 0;
    	i {
        	display: block;
        	font-size: 1.25rem;
        	font-style: normal;
    	}
	}
	p {
        font-size: 1.25rem;
	}
}