.article-author {
    margin-bottom: 2em;
    max-width: 8em;
	h2 {
		font-family: $typeface-body;
		font-size: 1em;
		margin-bottom: 1em;
	}
	img {
		border-radius: $border-radius-1;
	}
}

.card-author {
    max-width: 16em;
	img {
		border-radius: $border-radius-1;
	}
	h2 {
    	i {
        	display: block;
        	font-size: 1.25rem;
        	font-style: normal;
    	}
	}
	p {
        font-size: 1.25rem;
	}
}