.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -1em;
    > li {
        flex: 1;
        margin: 0 1em 2em;
    }
}

.card {
    border: $border-1;
    border-radius: $border-radius-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}