.cookies {
    background: $color-info-bg;
    border-bottom: 3px solid $color-semi-tint-2;
    display: flex;
    justify-content: space-around;
    padding: 1em;
    text-align: center;
    p {
        color: $color-black;
        font-size: 1em;
        margin-bottom: 0;
        max-width: 100%;
    }
    .close {
        margin-left: 2em;
        width: 2em;
    }
}