.nav-main {
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    .search {
        margin-left: auto;
    }
	li {
		a {
			@include transition-out;
			border-bottom: 0;
			border-radius: $border-radius-3;
        	font-size: 1.25rem;
        	font-variant-caps: small-caps;
			padding: .5em .75em;
			text-transform: lowercase;
			white-space: nowrap;
			&:hover, &:focus, &:active {
				@include transition-in;
				background: $color-semi;
				border-radius: 0;
				color: $color-white;
				outline: none;
			}
			&:focus {
				background: $color-semi-accent;
				outline: none;
			}
		}
	}
}

@media screen and (min-width: 42em) {
    .nav-main {
        ul {
            justify-content: flex-start;
        }
    }
}

@mixin nav--selected {
	background: $color-black;
	color: $color-white;
}

.nav-home {
    li a:nth-child(1) {
    	@include nav--selected;
    }
}

.nav-products {
    li:nth-child(1) a {
    	@include nav--selected;
    }
}

.nav-playground {
    li:nth-child(2) a {
    	@include nav--selected;
    }
}

.nav-article {
    li:nth-child(2) a {
    	@include nav--selected;
    }
}

.nav-team {
    li:nth-child(3) a {
    	@include nav--selected;
    }
}

.nav-contact {
    li:nth-child(4) a {
    	@include nav--selected;
    }
}