html {
	background: $color-semi-tint-1;
}

.intro {
	//padding: 5em 2em;
	section {
		margin: 0 auto;
		max-width: 38em;
	}
}

#intro-why {
	text-align: center;
	h1, h2 {
		font-weight: 700;
	}
}

.section-support {
	background: $color-white;
	border-top-left-radius: $scale-1;
	margin-bottom: -$scale-1;
	padding: 8em 1em 5em;
	h1, h2, h3, h4, h5, h6, p, a, label {
		color: $color-white;
	}
}

@media screen and (min-width: 48em) {
	.section-support {
		background: $color-semi-tint-1;
		display: flex;
		justify-content: center;
		padding: 10em 1em 5em;
		text-align: center;
	}
}