.intro {
//	border-bottom: 1em solid $color-semi-accent;
	section:not(:last-of-type) {
		margin-bottom: 3em;
	}
}

#intro-why {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 5em 2em 3em;
	text-align: center;
	h1, h2 {
		//color: $color-black;
		margin-bottom: .5em;
	}
}

#intro-who {
	padding-bottom: 0; // Exception
}

.section-support {
	background: $color-semi-tint-1;
	border-top-left-radius: $scale-1;
	margin-bottom: -$scale-1;
	padding: 15em 1em 5em;
	h1, h2, h3, h4, h5, h6, p, a, label {
		color: $color-white;
	}
}

@media screen and (min-width: 48em) {
	.section-support {
		display: flex;
		justify-content: center;
		text-align: center;
	}
}