html {
	background: $color-semi-tint-1;
}

.intro {
	padding: 5em 2em;
	section {
		margin: 0 auto;
		max-width: 38em;
	}
}

#intro-why {
	text-align: center;
	h1, h2 {
		font-weight: 700;
	}
}

.section-support {
	background: $color-semi-tint-1;
	border-top-left-radius: $scale-1;
	margin-bottom: -$scale-1;
	padding: 15em 1em 5em;
	h1, h2, h3, h4, h5, h6, p, a, label {
		color: $color-white;
	}
}

@media screen and (min-width: 48em) {
	.section-support {
		display: flex;
		justify-content: center;
		text-align: center;
	}
}

// Temporary landing page
.landing {
	color: $color-white !important;
	display: flex;
	flex-direction: column;
	main {
		background: $color-semi-tint-1;
		font-family: 'Alegreya', serif;
		grid-gap: $scale-1;
		margin: 0 0 -2em;
		aside {
			display: grid;
			flex-direction: column;
			grid-column: 1/-1;
			grid-template-columns: repeat(12, 1fr);
			height: 100%;
			text-align: center;
			.illustration {
				display: none;
				//grid-column: 1/-1;
				//margin: 4em 0 3em 0;
				//order: 2;
			}
			.logo {
				background: url('../img/semi-logo-inv-h.svg');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				grid-column: 2/8;
				//margin-bottom: 2em;
				min-height: 8em;
				order: 1;
				width: 100%;
			}
		}
		section {
			h1, h2 {
				color: $color-white !important;
				font-family: 'Alegreya', serif;
				font-size: calc(1em + 1.5vw);
				text-align: center;
			}
			h1 {
				font-size: calc(2em + 1.5vw);
				font-style: italic;
				line-height: 1.35;
				margin-top: $scale--1;
				i {
					color: $color-black;
				}
			}
			p {
				font-size: 1.5em;
				font-size: calc(.75em + 1vw);
				em {
					font-size: 105%;
				}
			}
			.percentage {
				font-size: 150%;
			}
			a {
				border-bottom: .08em solid $color-support-tint--2;
				color: $color-gray-6;
				&:hover, &:focus, &:active {
					background: $color-black;
					border-bottom: $color-black;
					color: $color-white;
					outline: .5em solid $color-black;
				}
			}
		}
	}
	article {
		background: transparent;
	}
	.paragraph-intro {
		margin: 5em 0;
		max-width: 38em;
	}
	footer {
		padding: $scale-1 $scale-2;
	}
	.footer-copyright {
		margin-top: $scale-0;
		text-align: left;
	}
}

@media screen and (min-width: 56em) {
	.landing {
		main {
			aside {
				display: flex;
				flex-direction: column;
				grid-column: 2/4;
				justify-content: space-around;
				.illustration {
					display: block;
					order: 1;
				}
				.logo {
					background: url('../img/semi-logo-inv.svg');					
					background-repeat: no-repeat;
					background-size: contain;
					grid-row: 3/4;
					margin-bottom: 8em;
					order: 2;
				}
			}
			section {
				h1, h2 {
					//font-size: calc(1.5em + 2vw);
					font-size: 2em;
					text-align: left;
				}
				h1 {
					//font-size: calc(3em + 2vw);
					font-size: 3.5em;
				}
				p {
					//font-size: calc(.75em + 1vw);
					font-size: 1.5em;
				}
			}
		}
		article {
			grid-column: 4/13;
		}
		.footer-copyright {
			text-align: right;
		}
	}
}

@media screen and (min-width: 80em) {
	.landing {
		aside {
			grid-column: 2/5;
		}
		article  {
			grid-column: 5/12;
		}
	}
} 