label, button, [type='submit'] {
	cursor: pointer;
}

label {
	margin-bottom: 1em;
	margin-right: $scale-0;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 3em;
}

[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea {
	@include transition-out;
	background: $color-white;
	border: 0;
	border-bottom: 3px solid $color-semi;
	border-top-left-radius: $scale-1;
	border-top-right-radius: $scale-1;
	color: $color-black;
	font-family: $typeface-body;
	margin-bottom: 1em;
	padding: $scale-0;
	width: 100%;
	&:hover, &:focus, &:active {
		@include transition-in;

	}
	&:focus, &:active {
		border-color: $color-semi-accent;
		border-top-left-radius: 0;
		outline: none;
	}
}

.button, button, [type='reset'], [type='submit'] {
	@include transition-out;
	background: $color-semi;
	border: 0;
	border-radius: $scale-1;
	border-bottom-left-radius: 0;
	color: #fff;
	font-family: $typeface-body;
	padding: $scale-0 $scale-2;
	&:hover, &:focus, &:active {
		@include transition-in;
		border-radius: $scale-1;
		border-top-right-radius: 0;
		outline: none;
	}
	&:focus, &:active {
		background: $color-semi-accent;
	}
}

[type='email'] {
	~ [type='submit'] {
		border-bottom: 3px solid $color-semi;
		border-bottom-left-radius: 0;
	}
}

.section-support {
	[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea {
		border-bottom: 3px solid $color-interactive;		
		&:focus, &:active {
			border-color: $color-semi-accent;
		}
	}
	button, [type='reset'], [type='submit'] {
		background: $color-interactive;
		&:focus, &:active {
			background: $color-semi-accent;
			outline: none;
		}
	}
	[type='email'] {
		~ [type='submit'] {
			border-bottom: 3px solid $color-interactive;
			border-bottom-left-radius: 0;
			&:focus, &:active {
			border-bottom: 3px solid $color-semi-accent;
				outline: none;
			}
		}
	}
}

@media screen and (min-width: 48em) {
	form {
		align-items: baseline;
		flex-direction: row;
		margin-top: 2em;
	}
	label {
		white-space: nowrap;
	}
	[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea {
		border-top-right-radius: 0;
		margin-bottom: 0;
	}
	[type='email'] {
		~ [type='submit'] {		
			margin-left: -$scale-1;
		}
	}
}