label, button, [type='submit'] {
	cursor: pointer;
}

label {
	margin-right: $scale-0;
}

[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea {
	@include transition-out;
	background: $color-white;
	border: 0;
	border-bottom: 3px solid $color-semi;
	border-top-left-radius: $scale-1;
	color: $color-black;
	font-family: $typeface-brand;
	padding: $scale-0;
	width: $scale-6;
	&:hover, &:focus, &:active {
		@include transition-in;

	}
	&:focus, &:active {
		border-color: $color-semi-accent;
		border-top-left-radius: 0;
		outline: none;
	}
}

.button, button, [type='reset'], [type='submit'] {
	@include transition-out;
	background: $color-semi;
	border: 0;
	border-radius: $scale-1;
	border-bottom-left-radius: 0;
	color: #fff;
	font-family: $typeface-brand;
	padding: $scale-0 $scale-2;
	&:hover, &:focus, &:active {
		@include transition-in;
		border-radius: $scale-1;
		border-top-right-radius: 0;
		outline: none;
	}
	&:focus, &:active {
		background: $color-semi-accent;
	}
}

[type='email'] {
	~ [type='submit'] {
		border-bottom: 3px solid $color-semi;
		border-bottom-left-radius: 0;
		margin-left: -$scale-1;
	}
}

.section-support {
	[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea {
		border-bottom: 3px solid $color-interactive;		
		&:focus, &:active {
			border-color: $color-semi-accent;
		}
	}
	button, [type='reset'], [type='submit'] {
		background: $color-interactive;
		&:focus, &:active {
			background: $color-semi-accent;
			outline: none;
		}
	}
	[type='email'] {
		~ [type='submit'] {
			margin-left: -$scale-1;
			border-bottom: 3px solid $color-interactive;
			border-bottom-left-radius: 0;
			&:focus, &:active {
			border-bottom: 3px solid $color-semi-accent;
				outline: none;
			}
		}
	}
}

.section-inverse {
	
}
