label, button, [type='submit'] {
	cursor: pointer;
}

label {
	margin-bottom: 1em;
	//margin-right: $scale-0;
}

article form {
	margin: 1em 0;
}

fieldset {
    border: 0;
    margin-bottom: 2em;
}

[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea {
	@include transition-out;
	background: $color-white;
	border: 3px solid transparent;
	border-bottom-color: $color-semi;
	border-top-left-radius: $scale-1;
	border-top-right-radius: $scale-1;
	color: $color-black;
	font-family: $typeface-body;
	padding: .5em 1em;
	width: 100%;
	&:hover, &:focus, &:active {
		@include transition-in;

	}
	&:focus, &:active {
    	@include transition-in;
		border: 3px solid $color-semi-accent;
		border-radius: $scale-1;
		outline: none;
	}
}

.button, .button--small, button, [type='reset'], [type='submit'] {
	@include transition-out;
	background: $color-semi;
	border: 0;
	border-radius: $border-radius-1;
	color: $color-white;
	font-family: $typeface-body;
	padding: $scale-0 $scale-2;
	&:hover, &:focus, &:active {
		@include transition-in;
		border-radius: $border-radius-2;
		outline: none;
	}
	&:focus, &:active {
		background: $color-semi-accent;
	}
}

.button--small {
	padding: .25em 1em;
	font-size: 1rem;
    white-space: nowrap;
}

.button--email {
    &:before {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{data-uri-color($color-gray-6)}' d='M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z'/></svg>");
        content: '';
        display: inline-block;
        height: .75em;
        margin-right: .5em;
        vertical-align: baseline;
        width: .75em;
    }
}

textarea {
    min-height: 5em;
    resize: vertical;
}

[type='email'] {
	~ [type='submit'] {
		border-bottom: 3px solid $color-semi;
		border-bottom-left-radius: 0;
	}
}

.section-support {
	[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea {
		border-bottom: 3px solid $color-interactive;		
		&:focus, &:active {
			border-color: $color-semi-accent;
		}
	}
	button, [type='reset'], [type='submit'] {
		background: $color-interactive;
		&:focus, &:active {
			background: $color-semi-accent;
			outline: none;
		}
	}
	[type='email'] {
		~ [type='submit'] {
			border-bottom: 3px solid $color-interactive;
			border-bottom-left-radius: 0;
			&:focus, &:active {
			    border-bottom: 3px solid $color-semi-accent;
				outline: none;
			}
		}
	}
}