// IE10+ bugfixes
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html {
    	background: $color-white;
    }
    body {
        display: block;
        height: 100%;
        min-height: 100px;
    }
    .page--home {
        .header-container {
            margin-bottom: -1em;
            padding-bottom: 1em;
        }
        main {
            background: url('/img/pattern-semi.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .header-main picture img {
        height: 3em;
        margin: 1em 0;
    }
    .product h2 {
        height: 5em;
        img {
            height: auto;
        }
    }
    select::-ms-expand {
        display: none;
    }
}