// IE10+ bugfixes
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    html {
    	background: $color-white;
    }
    body {
        display: block;
        height: 100%;
        min-height: 100px;
    }
    .section-heading--primary, .section-emphasized {
        background: url('/img/pattern-semi-inv.png');
    }
    .header-main picture img {
        height: 3em;
        margin: 1em 0;
    }
    .product h2 {
        height: 5em;
    }
}