// IE10+ bugfixes
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    img, svg {
        border: 0 !important;
        outline: 0 !important;
    }
    html {
    	background: $color-white;
    }
    body {
        display: block;
        height: 100%;
        min-height: 100px;
    }
    .page--home {
        .header-container {
            margin-bottom: -1em;
            padding-bottom: 1em;
        }
        main {
            background: none !important;
        }
    }
    .header-main picture img {
        height: 3em;
        margin: 1em 0;
    }
    .product h2 {
        height: 5em;
        img {
            height: auto;
        }
    }
    .rtp-category {
        img {
            width: 100%;
        }
    }
    .card-author {
        li:first-child {
            height: 150px;
        }
    }
    select::-ms-expand {
        display: none;
    }
}