header {
	background: $color-gray-7;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin-bottom: $scale-2;
	padding: 1.5em 1em 10em;
	div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	img {
		height: $scale-3;
	}
	nav {
		margin-bottom: 2em;
	}
	div, nav {
		grid-column: 1/13;
	}
}

.logo {
	background: url(../img/semi-logo.svg) no-repeat;
	background-size: contain;
	border: 0 !important;
	height: 5em;
	width: 10em;
	&:hover, &:focus, &:active {
		background: url(../img/semi-logo.svg) no-repeat;
		background-size: contain;
		outline: none;
	}
	i {
		display: none;
	}
}

main {
	background: $color-white;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	//margin-bottom: -2em;
	margin-top: -10em;
	article {
		background: $color-white;
		border-top-left-radius: 1em;
		grid-column: 1/13;
		padding: 1em 2em 0;
/*
		section {
			margin-bottom: 2em;
		}
*/
	}
}



@media screen and (min-width: 48em) {
	header {
		padding: 3em 0 13em;
		div, nav {
			grid-column: 2/12;
		}
		div {
			align-items: flex-start;
			flex-direction: row;
		}
	}
	.logo {
		background: url(../img/semi-logo-h.svg) no-repeat;
		background-size: contain;
		width: 20em;
		&:hover, &:focus, &:active {
			background: url(../img/semi-logo-h.svg) no-repeat;
			background-size: contain;
		}
	}
	main {
		article {
			grid-column: 2/12;
			margin-bottom: -4em;
			margin-top: -3em;
			//padding-bottom: 2em;
		}
	}
	.semi-newsletter {
		grid-column: 2/12;
	}
}

@media screen and (min-width: 80em) {
	header {
		padding: 3em 0 13em;
		div, nav {
			grid-column: 3/11;
		}
	}
	main {
		article {
			grid-column: 3/11;
		}
	}
	.semi-newsletter {
		grid-column: 4/11;
	}
}