$transition-speed-in: .128s;
$transition-speed-out: .256s;
$transition-easing-in: ease-out;
$transition-easing-out: ease-out;


@mixin transition-in {
	transition: background $transition-speed-in $transition-easing-in,
				border-color $transition-speed-in $transition-easing-in,
				border-radius $transition-speed-in $transition-easing-in,
				color $transition-speed-in $transition-easing-in,
				outline $transition-speed-in $transition-easing-in,
				transition $transition-speed-in $transition-easing-in;
}
@mixin transition-out {
	transition: background $transition-speed-out $transition-easing-out,
				border-color $transition-speed-out $transition-easing-out,
				border-radius $transition-speed-out $transition-easing-out,
				color $transition-speed-out $transition-easing-out,
				outline $transition-speed-out $transition-easing-out,
				transition $transition-speed-out $transition-easing-out;
}

@mixin visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; width: 1px;
    overflow: hidden;
    position: absolute !important;
}

@mixin focus-inset {
	@include transition-in;
	box-shadow: 0 0 0 2px $color-semi-accent inset;
	outline: none;
}

@function data-uri-color($color) {
    @return '%23' + str-slice('#{$color}', 2, -1)
}