label, button, [type='submit'] {
	cursor: pointer;
}

label {
	margin-bottom: .5em;
	&:hover, &:focus, &:active {
    	~ [type='email'], ~ [type='number'], ~ [type='password'], ~ [type='search'], ~ [type='tel'], ~ [type='text'], ~ [type='url'], ~ textarea {
        	@include transition-in;
        	border-bottom: 3px solid $color-semi-accent;
    	}
	}
}

article form {
	margin: 1em 0;
}

fieldset {
    border: 0;
    margin-bottom: 2em;
    input {
        display: block;
        margin-bottom: 1em;
    }
}

[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], select, textarea {
	@include transition-out;
	background: $color-white;
	border: 3px solid transparent;
	border-bottom-color: $color-semi;
	border-top-left-radius: $scale-1;
	border-top-right-radius: $scale-1;
	color: $color-black;
	font-family: $typeface-body;
	padding: .5em 1em;
	width: 100%;
	&:hover, &:focus, &:active {
		@include transition-in;

	}
	&:focus, &:active {
    	@include transition-in;
		border: 3px solid $color-semi-accent;
		border-radius: $scale-1;
		border-bottom-left-radius: 0;
		outline: none;
	}
	&:valid {
    	//border-bottom: 3px solid $color-success;
	}
	&:invalid {
    	background: $color-warning-bg;
    	border: 3px solid $color-warning;
	}
}

[type='number'] {
    max-width: 5em;
}

[required] {
    &:after {
        content: '*';
        display: block;
    }
}

::-webkit-input-placeholder {
    color: $color-gray-4;
}
::-moz-placeholder {
    color: $color-gray-4;
    opacity: 1;
}
:-ms-input-placeholder {
    color: $color-gray-4;
}
:-moz-placeholder {
    color: $color-gray-4;
    opacity: 1;
}

.button, .button--small, button, [type='button'], [type='reset'], [type='submit'] {
	@include transition-out;
	background: $color-semi;
	border: 0 !important;
	border-radius: $border-radius-1;
	color: $color-white;
	display: inline-block;
	font-family: $typeface-body;
	padding: $scale-0 $scale-2;
	text-align: center;
	&:hover, &:focus, &:active {
		@include transition-in;
		border-radius: $border-radius-2;
		outline: none;
	}
	&:focus, &:active {
		background: $color-semi-accent;
	}
}

.button--cta {
    background: $color-semi-accent;
    color: $color-black;
	&:hover, &:focus, &:active {
		background: $color-black;
		color: $color-white
	}
}

.button--small {
    border-radius: $border-radius-1-sm;
	padding: .5em 1em;
	font-size: 1rem;
    white-space: nowrap;
    &:hover, &:focus, &:active {
        border-bottom: 0;
        border-radius: $border-radius-2-sm;
    }
}

.button--email {
    &:before {
        background: url(/img/icon-email.svg);
        content: '';
        display: inline-block;
        height: .75em;
        margin-right: .5em;
        vertical-align: baseline;
        width: .75em;
    }
}

textarea {
    min-height: 5em;
    resize: vertical;
}

[type='email'] {
	~ [type='submit'] {
		border-bottom: 3px solid $color-semi;
		border-bottom-left-radius: 0;
	}
}

select {
    appearance: none;
    display: block;
}

select[multiple] {
    padding: .5em;
    width: 100%;
}

.form-inline {
    background: $color-gray-7;
    margin: 3em 0;
    padding: .5em 1em;
}

.section-support {
	[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea {
		border-bottom: 3px solid $color-interactive;		
		&:focus, &:active {
			border-color: $color-semi-accent;
		}
	}
	button, [type='reset'], [type='submit'] {
		background: $color-interactive;
		&:focus, &:active {
			background: $color-semi-accent;
			outline: none;
		}
	}
	[type='email'] {
		~ [type='submit'] {
			border-bottom: 3px solid $color-interactive;
			border-bottom-left-radius: 0;
			&:focus, &:active {
			    border-bottom: 3px solid $color-semi-accent;
				outline: none;
			}
		}
	}
}