.help {
	background: $color-support-tint--3;
	border-radius: 1em;
	//color: $color-white;
	display: inline-block;
	font-size: 1.35rem;
	font-style: italic;
	margin: 1em 0 3em 1em;
	padding: 1em;
	position: relative;
	&:after {
		border: solid transparent;
		border-top-color: $color-support-tint--3;
		border-width: 2em 2em 0 0;
		content: '';
		height: 0;
		left: 2em;
		width: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
	}
	p {
    	max-width: 32em;
    	&:last-of-type {
        	margin-bottom: 0;
    	}    	
	}
}