label, button, [type='submit'] {
	cursor: pointer;
}

label {
	margin-bottom: .5em;
	&:hover, &:focus, &:active {
    	~ [type='email'], ~ [type='number'], ~ [type='password'], ~ [type='search'], ~ [type='tel'], ~ [type='text'], ~ [type='url'], ~ textarea {
        	@include transition-in;
        	border-bottom: 3px solid $color-semi-accent;
    	}
	}
}

article form {
	margin: 1em 0;
}

fieldset {
    border: 0;
    margin-bottom: 2em;
    input {
        display: block;
        margin-bottom: 1em;
    }
}

[type='search'] {
    appearance: none;
}

[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], select, textarea {
	@include transition-out;
	background: $color-white;
	border: 3px solid transparent;
	border-bottom-color: $color-semi;
	border-top-left-radius: $scale-1;
	border-top-right-radius: $scale-1;
	color: $color-black;
	font-family: $typeface-body;
	padding: .5em 1em;
	width: 100%;
	&:hover, &:focus, &:active {
		@include transition-in;
	}
	&:focus, &:active {
    	@include transition-in;
		border: 3px solid $color-semi-accent;
		border-radius: $scale-1;
		border-bottom-left-radius: 0;
		outline: none;
	}
	&:valid {
    	//border-bottom: 3px solid $color-success;
	}
	&:invalid {
    	background: $color-warning-bg;
    	border: 3px solid $color-warning;
	}
}

[type='number'] {
    max-width: 5em;
}

[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    //width: 100%;
    &:focus {
        outline: none;
    }
}

[type=range]::-webkit-slider-thumb { // Webkit/Blink
    @include transition-out;
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: $color-semi;
    cursor: pointer;
    margin-top: -.45em;
    &:hover, &:focus, &:active {
		@include transition-in;
        background: $color-semi-accent;
	}
}
[type=range]::-webkit-slider-runnable-track { // Webkit/Blink
    background: $color-gray-5;
    border-radius: 1em;
    cursor: pointer;
    height: .25em;
    width: 100%;
}
[type=range]:focus::-webkit-slider-runnable-track { // Webkit/Blink
    background: $color-semi-accent;
}
[type=range]::-moz-range-thumb { // Gecko
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: $color-semi;
    border: 0;
    cursor: pointer;
    &:hover, &:focus, &:active {
		@include transition-in;
        background: $color-semi-accent;
	}
}
[type=range]::-moz-range-track { // Gecko
    background: $color-gray-5;
    border-radius: 1em;
    cursor: pointer;
    height: .25em;
    width: 100%;
}
[type=range]::-ms-thumb { // IE/Edge
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: $color-semi;
    cursor: pointer;
    &:hover, &:focus, &:active {
		@include transition-in;
        background: $color-semi-accent;
	}
}
[type=range]::-ms-track { // IE/Edge
    background: transparent; 
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: .25em;
    width: 100%;
}
[type=range]::-ms-fill-lower { // IE/Edge
    background: $color-semi-accent;
}
[type=range]:focus::-ms-fill-lower { // IE/Edge
    background: $color-gray-5;
}
[type=range]::-ms-fill-upper { // IE/Edge
    background: $color-gray-5;
}
[type=range]:focus::-ms-fill-upper { // IE/Edge
    background: $color-semi-accent;
}

// Lea Verou's Multirange (https://leaverou.github.io/multirange/)
@supports (--css: variables) {
	[type=range].multirange {
		display: inline-block;
		margin: .5em 0 0;
		padding: .25em;
		vertical-align: top;
		width: auto;
	}
	[type=range].multirange.original {
		position: absolute;
	}
	[type=range].multirange.original::-webkit-slider-thumb {
		position: relative;
		z-index: 2;
	}
	[type=range].multirange.original::-moz-range-thumb {
		transform: scale(1); /* FF doesn't apply position it seems */
		z-index: 1;
	}
	[type=range].multirange::-moz-range-track {
		border-color: transparent; /* needed to switch FF to "styleable" control */
	}
	[type=range].multirange.ghost {
		position: relative;
		background: var(--track-background);
		--track-background: linear-gradient(to right, transparent var(--low), var(--range-color) 0, var(--range-color) var(--high), transparent 0) no-repeat 0 45% / 100% 40%;
		--range-color: #ff5fa0;
	}
	[type=range].multirange.ghost::-webkit-slider-runnable-track {
		background: var(--track-background);
	}
	[type=range].multirange.ghost::-moz-range-track {
		background: var(--track-background);
	}
}


[required] {
    &:after {
        content: '*';
        display: block;
    }
}

::-webkit-input-placeholder {
    color: $color-gray-4;
}
::-moz-placeholder {
    color: $color-gray-4;
    opacity: 1;
}
:-ms-input-placeholder {
    color: $color-gray-4;
}
:-moz-placeholder {
    color: $color-gray-4;
    opacity: 1;
}

.button, .button--small, button, [type='button'], [type='reset'], [type='submit'] {
	@include transition-out;
	background: $color-semi;
	border: 0 !important;
	border-radius: $border-radius-1;
	color: $color-white;
	display: inline-block;
	font-family: $typeface-body;
	font-size: 1rem;
	padding: $scale-0 $scale-2;
	text-align: center;
	&:hover, &:focus, &:active {
		@include transition-in;
		border-radius: $border-radius-2;
		outline: none;
	}
	&:focus, &:active {
		background: $color-semi-accent;
	}
}

.button--cta {
    background: $color-support;
    //color: $color-black;
	&:hover, &:focus, &:active {
		background: $color-black;
		color: $color-white
	}
}

.button--small {
    border-radius: $border-radius-1-sm;
	padding: .5em 1em;
	font-size: 1rem;
    white-space: nowrap;
    &:hover, &:focus, &:active {
        border-bottom: 0;
        border-radius: $border-radius-2-sm;
    }
}

.button--email {
    &:before {
        background: url('/img/icon-email.svg');
        content: '';
        display: inline-block;
        height: .75em;
        margin-right: .5em;
        vertical-align: baseline;
        width: .75em;
    }
}

.button--link {
    appearance: hyperlink;
}

textarea {
    min-height: 5em;
    resize: vertical;
}

[type='email'] {
	~ [type='submit'] {
		border-bottom: 3px solid $color-semi;
		border-bottom-left-radius: 0;
	}
}

select {
    appearance: none;
    background: url('/img/icon-arrow-down.svg') no-repeat right 1em center;
    background-size: 1em;
    display: block;
    padding-right: 3em;
    width: auto;
    &:focus, &:active {   
        background: url('/img/icon-arrow-down--active.svg') no-repeat right 1em center;
        background-size: 1em;
    }
}

select[multiple] {
    background: none;
    padding: .5em;
    width: 100%;
}

.form-inline {
    background: $color-gray-7;
    margin-bottom: 2em;
    padding: .5em 1em;
}

.section-support {
	[type='email'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='url'], textarea {
		border-bottom: 3px solid $color-interactive;		
		&:focus, &:active {
			border-color: $color-semi-accent;
		}
	}
	button, [type='reset'], [type='submit'] {
		background: $color-interactive;
		&:focus, &:active {
			background: $color-semi-accent;
			outline: none;
		}
	}
	[type='email'] {
		~ [type='submit'] {
			border-bottom: 3px solid $color-interactive;
			border-bottom-left-radius: 0;
			&:focus, &:active {
			    border-bottom: 3px solid $color-semi-accent;
				outline: none;
			}
		}
	}
}