a {
	&[href$=".pdf"]:after { // Links to PDF documents
    	content:' (PDF)';
        font-variant-caps: small-caps;
        text-transform: lowercase;
    }
    &[href$=".json"]:after {
        
    }
    &[href$=".zip"]:after {
        
    }
    &[href^="mailto:"]:before {
        
    }
}

.view-more {
    font-size: .75em;
}

.link-muted {
    margin-bottom: 2em;
    a {
        border-bottom: 0;
        color: $color-gray-4;
    }
}