
dl.tags {
    margin-top: -.7em;   
}

.tags {
    color: $color-gray-3;
    font-size: 1rem;
	margin-bottom: $scale-0;
	li {
		background: $color-support;
		border-radius: $border-radius-1;
		color: $color-white;
		display: inline;
        font-size: .9rem;
		margin-right: .5em;
		padding: .25em .75em;
		text-decoration: none;
		text-transform: capitalize;
	}
}