.tags {
    color: $color-gray-3;
    display: flex;
    font-size: 1rem;
    margin-bottom: 1em;
	dt {
    	i {
        	//@include visually-hidden; // Jekyll seem to not always compile the <i> tag somehow
        	display: none;
    	}
    	&:before {
        	background: url('/img/icon-tag.svg');
        	background-repeat: no-repeat;
        	content: '';
        	display: block;
        	height: 1.5em;
        	width: 1.5em;
    	}
	}
	li {
    	display: inline;
    	a {
    		background: $color-gray-7;
    		border-bottom: 0;
    		border-radius: $border-radius-1;
    		color: $color-interactive;
            font-size: .85em;
    		margin-right: .5em;
    		padding: .25em .75em;
    		&:hover, &:focus, &:active {
        		background: $color-semi;
    		    border-radius: $border-radius-1;
    		    color: $color-white;
    		    outline: none;
            }
        }
	}
}