.linkedin {
    background: url('data:image/svg+xml;utf8,<svg height="512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="M474.099.014H37.79C16.94.014 0 16.54 0 36.91v438.153C0 495.449 16.941 512 37.79 512H474.1C494.987 512 512 495.45 512 475.062V36.909C512 16.54 494.987.014 474.099.014" fill="#0977b6"/><g fill="#fff"><path d="M113.897 70.505c24.276 0 44.008 19.729 44.008 44.013 0 24.308-19.732 44.039-44.008 44.039-24.34 0-44.038-19.73-44.038-44.04 0-24.283 19.698-44.012 44.038-44.012m-37.99 121.452h75.943v244.337H75.908zM199.484 191.957h72.83v33.389h1.019c10.137-19.212 34.91-39.463 71.853-39.463 76.9 0 91.097 50.606 91.097 116.385v134.026h-75.888V317.469c0-28.332-.522-64.777-39.461-64.777-39.51 0-45.576 30.862-45.576 62.729v120.873h-75.874z"/></g></svg>');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 1em;
    width: 1em;
    i {
        @include visually-hidden;
    }
}