header {
    align-items: center;
	background: $color-white;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 2em 1em 0;
	div {
		grid-column: 6/13;
        justify-self: flex-end;
	}
	nav {
    	grid-column: 1/13;
    	padding: 2em 0 0;
	}
}

.logo {
	background: url(../img/semi-logo.svg) no-repeat;
	background-size: contain;
	border: 0 !important;
    grid-column: 1/6;
	height: 3em;
	&:hover, &:focus, &:active {
		background: url(../img/semi-logo.svg) no-repeat;
		background-size: contain;
		outline: none;
	}
	i {
		display: none;
	}
}

main {
	background: $color-white;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	margin-bottom: -2em; // Allows for the Kanagawa wave border radius to be shown
	article {
		background: $color-white;
		grid-column: 1/13;
		padding: 1em 2em 1em;
	}
}

@media screen and (min-width: 34em) {
    .logo {
		background: url(../img/semi-logo-h.svg) no-repeat;
		background-size: contain;
		&:hover, &:focus, &:active {
			background: url(../img/semi-logo-h.svg) no-repeat;
			background-size: contain;
		}
    }
}


@media screen and (min-width: 48em) {
	header {
		padding: 2em 0 0;
		div {
			grid-column: 9/12;
		}
		nav {		
        	grid-column: 2/12;
		}
	}
	.logo {
		background: url(../img/semi-logo-h.svg) no-repeat;
		background-size: contain;
        grid-column: 2/5;
		&:hover, &:focus, &:active {
			background: url(../img/semi-logo-h.svg) no-repeat;
			background-size: contain;
		}
	}
	main {
		article {
			grid-column: 2/12;
			margin-bottom: -2em;
			//margin-top: -3em;
		}
	}
	.semi-newsletter {
		grid-column: 2/12;
	}
}

@media screen and (min-width: 80em) {
    header {
        div {
			grid-column: 8/10;
        }
		nav {		
        	grid-column: 4/10;
		}
    }
    .logo {
        grid-column: 4/6;
    }
	main {
		article {
			grid-column: 4/10;
		}
	}
	.semi-newsletter {
		grid-column: 4/11;
	}
}