header {
    align-items: center;
	background: $color-white;
	display: grid;
	-ms-grid-columns: (auto)[12];
	grid-template-columns: repeat(12, 1fr);
	padding: 2em 1em 0;
	div {
    	-ms-grid-column: 6;
    	//-ms-grid-column-span: 7;
		grid-column: 6/13;
		-ms-grid-column-align: end;
        justify-self: flex-end;
	}
	nav {
    	-ms-grid-column: 1;
    	//-ms-grid-column-span: 12;
    	grid-column: 1/13;
    	padding: 2em 0 0;
	}
}

.logo {
	background: url(../img/semi-logo.svg) no-repeat;
	background-size: contain;
	border: 0 !important;
	-ms-grid-column: 1;
	-ms-grid-column-span: 5;
    grid-column: 1/6;
	height: 3em;
	&:hover, &:focus, &:active {
		background: url(../img/semi-logo.svg) no-repeat;
		background-size: contain;
		outline: none;
	}
	i {
		display: none;
	}
}

main {
	background: $color-white;
	display: grid;
	-ms-grid-columns: (auto)[12];
	grid-template-columns: repeat(12, 1fr);
	margin-bottom: -2em; // Allows for the Kanagawa wave border radius to be shown
	article {
		background: $color-white;
		-ms-grid-column: 1;
		-ms-grid-column-span: 12;
		grid-column: 1/13;
		padding: 1em 2em 1em;
	}
}

@media screen and (min-width: 34em) {
    .logo {
		background: url(../img/semi-logo-h.svg) no-repeat;
		background-size: contain;
		&:hover, &:focus, &:active {
			background: url(../img/semi-logo-h.svg) no-repeat;
			background-size: contain;
		}
    }
}


@media screen and (min-width: 48em) {
	header {
		padding: 2em 0 0;
		div {
    		-ms-grid-column: 9;
    		-ms-grid-column-span: 3;
			grid-column: 9/12;
		}
		nav {
    		-ms-grid-column: 2;
    		-ms-grid-column-span: 10;
        	grid-column: 2/12;
		}
	}
	.logo {
		background: url(../img/semi-logo-h.svg) no-repeat;
		background-size: contain;
		-ms-grid-column: 2;
		-ms-grid-column-span: 3;
        grid-column: 2/5;
		&:hover, &:focus, &:active {
			background: url(../img/semi-logo-h.svg) no-repeat;
			background-size: contain;
		}
	}
	main {
		article {
    		-ms-grid-column: 2;
    		-ms-grid-column-span: 10;
			grid-column: 2/12;
			margin-bottom: -2em;
		}
	}
	.semi-newsletter {
    	-ms-grid-column: 2;
    	-ms-grid-column-span: 10;
		grid-column: 2/12;
	}
}

@media screen and (min-width: 80em) {
    header {
        div {
            -ms-grid-column: 1;
            -ms-grid-column-span: 1;
			grid-column: 8/10;
        }
		nav {
    		-ms-grid-column: 4;	
    		-ms-grid-column-span: 6;
        	grid-column: 4/10;
		}
    }
    .logo {
        -ms-grid-column: 4;
        -ms-grid-column-span: 2;
        grid-column: 4/6;
    }
	main {
		article {
    		-ms-grid-column: 4;
    		-ms-grid-column-span: 6;
			grid-column: 4/10;
		}
	}
	.semi-newsletter {
    	-ms-grid-column: 4;
    	-ms-grid-column-span: 7;
		grid-column: 4/11;
	}
}