// Begin: Style guide
.semi-sg {
	> section {
    	border-bottom: 6px solid $color-black;
    	margin-bottom: 3em;
    	padding-bottom: 3em;
    	h3, h4, h5 {
        	margin: 2em 0 1em;
    	}
    	section {
        	margin-bottom: 1em;
    	}
	}
	code {
    	max-width: 100%;
	}
}

.semi-sg-overview {
    column-count: 2;
    li:before {
        margin-left: 0 !important;
    }
}

.body--styleguide::before {
	background: $color-helper-2;
	border-radius: $border-radius-2;
	color: $color-helper-1;
	content: 'brkpnt 20em – 34em';
	opacity: .5;
	padding: .5em 3em;
	right: 0;
	position: fixed;
	top: 0;
}

.semi-sg-codesnippet {
    border: 1px solid $color-gray-7;
    p {
        padding: .25em 1em 0;
    }
    xmp {
        background: $color-gray-7;
        max-width: 100%;
        padding: 1em;
    }
}

@media (min-width: 34em) {
	.body--styleguide::before {
		content: 'brkpnt 34em – 42em';
	}
}
@media (min-width: 42em) {
	.body--styleguide::before {
		content: 'brkpnt 42em – 48em';
	}
}
@media (min-width: 48em) {
	.body--styleguide::before {
		content: 'brkpnt 48em – 56em';
	}
}
@media (min-width: 56em) {
	.body--styleguide::before {
		content: 'brkpnt 56em – 80em';
	}
}
@media (min-width: 80em) {
	.body--styleguide::before {
		content: 'brkpnt > 80em';
	}
}


.dimension {
	li {
		list-style: none;
		margin-bottom: $scale-0;
		&:after {
			border: 1px dotted $color-helper-1;
			content: '';
			background: $color-helper-2;
			display: block;
		}
	}
}
.dimension-scale-0:after {
	height: $scale-0;
	width: $scale-0;
}
.dimension-scale--1:after {
	height: $scale--1;
	width: $scale--1;
}
.dimension-scale-1:after {
	height: $scale-1;
	width: $scale-1;
}
.dimension-scale-2:after {
	height: $scale-2;
	width: $scale-2;
}
.dimension-scale-3:after {
	height: $scale-3;
	width: $scale-3;
}
.dimension-scale-4:after {
	height: $scale-4;
	width: $scale-4;
}
.dimension-scale-5:after {
	height: $scale-5;
	width: $scale-5;
}
.dimension-scale-6:after {
	height: $scale-6;
	width: $scale-6;
}

.semi-sg-palette {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
	h3 {
    	font-size: 1.15rem;
    	margin-top: 3em;
	}
}

.semi-sg-swatch {
	list-style: none;
	margin-bottom: 2em;
	width: 8em;
	li {
		font-size: .75em;
		padding: 0;
		&:not(:first-of-type) {	
			color: $color-gray-3;
		}
	}
	i {
		&:before {
			background: $color-semi;
			content: '';
			display: block;
			height: 5em;
			margin-bottom: .5em;
		}
	}
}

.semi-sg-swatch--color-semi-tint--5 i:before {background: $color-semi-tint--5;}
.semi-sg-swatch--color-semi-tint--4 i:before {background: $color-semi-tint--4;}
.semi-sg-swatch--color-semi-tint--3 i:before {background: $color-semi-tint--3;}
.semi-sg-swatch--color-semi-tint--2 i:before {background: $color-semi-tint--2;}
.semi-sg-swatch--color-semi-tint--1 i:before {background: $color-semi-tint--1;}
.semi-sg-swatch--color-semi-tint-1 i:before {background: $color-semi-tint-1;}
.semi-sg-swatch--color-semi-tint-2 i:before {background: $color-semi-tint-2;}
.semi-sg-swatch--color-semi-tint-3 i:before {background: $color-semi-tint-3;}
.semi-sg-swatch--color-semi-tint-4 i:before {background: $color-semi-tint-4;}

.semi-sg-swatch--color-semi-accent-tint--5 i:before {background: $color-semi-accent-tint--5;}
.semi-sg-swatch--color-semi-accent-tint--4 i:before {background: $color-semi-accent-tint--4;}
.semi-sg-swatch--color-semi-accent-tint--3 i:before {background: $color-semi-accent-tint--3;}
.semi-sg-swatch--color-semi-accent-tint--2 i:before {background: $color-semi-accent-tint--2;}
.semi-sg-swatch--color-semi-accent-tint--1 i:before {background: $color-semi-accent-tint--1;}
.semi-sg-swatch--color-semi-accent i:before {background: $color-semi-accent;}
.semi-sg-swatch--color-semi-accent-tint-1 i:before {background: $color-semi-accent-tint-1;}
.semi-sg-swatch--color-semi-accent-tint-2 i:before {background: $color-semi-accent-tint-2;}
.semi-sg-swatch--color-semi-accent-tint-3 i:before {background: $color-semi-accent-tint-3;}
.semi-sg-swatch--color-semi-accent-tint-4 i:before {background: $color-semi-accent-tint-4;}


.semi-sg-swatch--color-interactive--5 i:before {background: $color-interactive-tint--5;}
.semi-sg-swatch--color-interactive--4 i:before {background: $color-interactive-tint--4;}
.semi-sg-swatch--color-interactive--3 i:before {background: $color-interactive-tint--3;}
.semi-sg-swatch--color-interactive--2 i:before {background: $color-interactive-tint--2;}
.semi-sg-swatch--color-interactive--1 i:before {background: $color-interactive-tint--1;}
.semi-sg-swatch--color-interactive i:before {background: $color-interactive;}
.semi-sg-swatch--color-interactive-1 i:before {background: $color-interactive-tint-1;}
.semi-sg-swatch--color-interactive-2 i:before {background: $color-interactive-tint-2;}
.semi-sg-swatch--color-interactive-3 i:before {background: $color-interactive-tint-3;}
.semi-sg-swatch--color-interactive-4 i:before {background: $color-interactive-tint-4;}

.semi-sg-swatch--color-olive--5 i:before {background: $color-support-tint--5;}
.semi-sg-swatch--color-olive--4 i:before {background: $color-support-tint--4;}
.semi-sg-swatch--color-olive--3 i:before {background: $color-support-tint--3;}
.semi-sg-swatch--color-olive--2 i:before {background: $color-support-tint--2;}
.semi-sg-swatch--color-olive--1 i:before {background: $color-support-tint--1;}
.semi-sg-swatch--color-olive i:before {background: $color-support;}
.semi-sg-swatch--color-olive-1 i:before {background: $color-support-tint-1;}
.semi-sg-swatch--color-olive-2 i:before {background: $color-support-tint-2;}
.semi-sg-swatch--color-olive-3 i:before {background: $color-support-tint-3;}
.semi-sg-swatch--color-olive-4 i:before {background: $color-support-tint-4;}

.semi-sg-swatch--color-olive-analogous--9 i:before {background: $color-olive-analogous-tint--9;}
.semi-sg-swatch--color-olive-analogous--8 i:before {background: $color-olive-analogous-tint--8;}
.semi-sg-swatch--color-olive-analogous--7 i:before {background: $color-olive-analogous-tint--7;}
.semi-sg-swatch--color-olive-analogous--6 i:before {background: $color-olive-analogous-tint--6;}
.semi-sg-swatch--color-olive-analogous--5 i:before {background: $color-olive-analogous-tint--5;}
.semi-sg-swatch--color-olive-analogous--4 i:before {background: $color-olive-analogous-tint--4;}
.semi-sg-swatch--color-olive-analogous--3 i:before {background: $color-olive-analogous-tint--3;}
.semi-sg-swatch--color-olive-analogous--2 i:before {background: $color-olive-analogous-tint--2;}
.semi-sg-swatch--color-olive-analogous--1 i:before {background: $color-olive-analogous-tint--1;}
.semi-sg-swatch--color-olive-analogous i:before {background: $color-olive-analogous;}

.semi-sg-swatch--color-olive-triadic--9 i:before {background: $color-olive-triadic-tint--9;}
.semi-sg-swatch--color-olive-triadic--8 i:before {background: $color-olive-triadic-tint--8;}
.semi-sg-swatch--color-olive-triadic--7 i:before {background: $color-olive-triadic-tint--7;}
.semi-sg-swatch--color-olive-triadic--6 i:before {background: $color-olive-triadic-tint--6;}
.semi-sg-swatch--color-olive-triadic--5 i:before {background: $color-olive-triadic-tint--5;}
.semi-sg-swatch--color-olive-triadic--4 i:before {background: $color-olive-triadic-tint--4;}
.semi-sg-swatch--color-olive-triadic--3 i:before {background: $color-olive-triadic-tint--3;}
.semi-sg-swatch--color-olive-triadic--2 i:before {background: $color-olive-triadic-tint--2;}
.semi-sg-swatch--color-olive-triadic--1 i:before {background: $color-olive-triadic-tint--1;}
.semi-sg-swatch--color-olive-triadic i:before {background: $color-olive-triadic;}

.semi-sg-swatch--color-almost-black--9 i:before {background: $color-almostblack-tint--9;}
.semi-sg-swatch--color-almost-black--8 i:before {background: $color-almostblack-tint--8;}
.semi-sg-swatch--color-almost-black--7 i:before {background: $color-almostblack-tint--7;}
.semi-sg-swatch--color-almost-black--6 i:before {background: $color-almostblack-tint--6;}
.semi-sg-swatch--color-almost-black--5 i:before {background: $color-almostblack-tint--5;}
.semi-sg-swatch--color-almost-black--4 i:before {background: $color-almostblack-tint--4;}
.semi-sg-swatch--color-almost-black--3 i:before {background: $color-almostblack-tint--3;}
.semi-sg-swatch--color-almost-black--2 i:before {background: $color-almostblack-tint--2;}
.semi-sg-swatch--color-almost-black--1 i:before {background: $color-almostblack-tint--1;}
.semi-sg-swatch--color-black i:before {background: $color-almostblack;}

.semi-sg-swatch--color-almost-black-analogous--9 i:before {background: $color-almostblack-analogous-tint--9;}
.semi-sg-swatch--color-almost-black-analogous--8 i:before {background: $color-almostblack-analogous-tint--8;}
.semi-sg-swatch--color-almost-black-analogous--7 i:before {background: $color-almostblack-analogous-tint--7;}
.semi-sg-swatch--color-almost-black-analogous--6 i:before {background: $color-almostblack-analogous-tint--6;}
.semi-sg-swatch--color-almost-black-analogous--5 i:before {background: $color-almostblack-analogous-tint--5;}
.semi-sg-swatch--color-almost-black-analogous--4 i:before {background: $color-almostblack-analogous-tint--4;}
.semi-sg-swatch--color-almost-black-analogous--3 i:before {background: $color-almostblack-analogous-tint--3;}
.semi-sg-swatch--color-almost-black-analogous--2 i:before {background: $color-almostblack-analogous-tint--2;}
.semi-sg-swatch--color-almost-black-analogous--1 i:before {background: $color-almostblack-analogous-tint--1;}
.semi-sg-swatch--color-almost-black-analogous i:before {background: $color-almostblack-analogous;}

.semi-sg-swatch--color-almost-black-triadic--9 i:before {background: $color-almostblack-triadic-tint--9;}
.semi-sg-swatch--color-almost-black-triadic--8 i:before {background: $color-almostblack-triadic-tint--8;}
.semi-sg-swatch--color-almost-black-triadic--7 i:before {background: $color-almostblack-triadic-tint--7;}
.semi-sg-swatch--color-almost-black-triadic--6 i:before {background: $color-almostblack-triadic-tint--6;}
.semi-sg-swatch--color-almost-black-triadic--5 i:before {background: $color-almostblack-triadic-tint--5;}
.semi-sg-swatch--color-almost-black-triadic--4 i:before {background: $color-almostblack-triadic-tint--4;}
.semi-sg-swatch--color-almost-black-triadic--3 i:before {background: $color-almostblack-triadic-tint--3;}
.semi-sg-swatch--color-almost-black-triadic--2 i:before {background: $color-almostblack-triadic-tint--2;}
.semi-sg-swatch--color-almost-black-triadic--1 i:before {background: $color-almostblack-triadic-tint--1;}
.semi-sg-swatch--color-almost-black-triadic i:before {background: $color-almostblack-triadic;}

.semi-sg-swatch--color-gray-1 i:before {background: $color-gray-1;}
.semi-sg-swatch--color-gray-2 i:before {background: $color-gray-2;}
.semi-sg-swatch--color-gray-3 i:before {background: $color-gray-3;}
.semi-sg-swatch--color-gray-4 i:before {background: $color-gray-4;}
.semi-sg-swatch--color-gray-5 i:before {background: $color-gray-5;}
.semi-sg-swatch--color-gray-6 i:before {background: $color-gray-6;}
.semi-sg-swatch--color-gray-7 i:before {background: $color-gray-7;}

.semi-sg-swatch--color-info i:before {background: $color-info;}
.semi-sg-swatch--color-info-bg i:before {background: $color-info-bg;}
.semi-sg-swatch--color-success i:before {background: $color-success;}
.semi-sg-swatch--color-success-bg i:before {background: $color-success-bg;}
.semi-sg-swatch--color-warning i:before {background: $color-warning;}
.semi-sg-swatch--color-warning-bg i:before {background: $color-warning-bg;}

.semi-sg-swatch--color-mark i:before {background: $color-mark;}

.semi-sg-grid {
	ul {
		display: grid;
		grid-gap: 1em;
		grid-template-columns: repeat(12, 1fr);
		list-style: none;
	}
	li {
		background: $color-helper-2;
		border: 1px dotted $color-helper-1;
		height: 6em;
	}
}

.semi-sg-logo {
    padding: 3em;
}

.inverse {
    @include transition-out;
    background: $color-semi;
    &:hover {
        @include transition-in;
        background: $color-black;
    }
}

.semi-sg-tween {
    @include transition-out;
    align-items: center;
    background: $color-semi;
    border-radius: 5em;
    color: $color-white;
    display: flex;
    height: 5em;
    justify-content: center;
    outline: 1em solid transparant;
    width: 5em;
    &:hover {
        @include transition-in;
        background: $color-support;
        border-radius: 0;
        color: $color-black;
        outline: 1em solid $color-semi;
    }
}

[contenteditable] {
    @include transition-out;
    cursor: hand;
    position: relative;
    &:after {
        @include transition-out;
        background: $color-semi-accent;
        border-radius: $border-radius-2;
        color: $color-white;
        content: 'Edit me';
        font-family: $typeface-body;
        font-size: .85rem;
        left: -1.5em;
        opacity: 0;
        padding: .25em .5em;
        position: absolute;
        top: -1.5em;
    }
    &:hover {
        @include transition-in;
        //background: $color-gray-7;
        cursor: hand;
        &:after {
            @include transition-in;
            border-radius: $border-radius-1;
            opacity: 1;
        }
    }
}

// End: Style guide