// Begin: Style guide
.semi-sg {
	> h2 {
		border-bottom: $border-1;
		margin-bottom: $scale--1;
		margin-top: $scale-1;
		padding-bottom: $scale--1;
	}
}

.body--styleguide::before {
	background: $color-helper-2;
	color: $color-helper-1;
	content: 'brkpnt 20em – 48em';
	opacity: .6;
	padding: .5em 1em;
	right: 0;
	position: fixed;
	top: 0;
}
@media (min-width: 48em) {
	.body--styleguide::before {
		content: 'brkpnt 48em – 80em';
	}
}
@media (min-width: 80em) {
	.body--styleguide::before {
		content: 'brkpnt > 80em';
	}
}


.dimension {
	li {
		list-style: none;
		margin-bottom: $scale-0;
		&:after {
			border: 1px dotted $color-helper-1;
			content: '';
			background: $color-helper-2;
			display: block;
		}
	}
}
.dimension-scale-0:after {
	height: $scale-0;
	width: $scale-0;
}
.dimension-scale--1:after {
	height: $scale--1;
	width: $scale--1;
}
.dimension-scale-1:after {
	height: $scale-1;
	width: $scale-1;
}
.dimension-scale-2:after {
	height: $scale-2;
	width: $scale-2;
}
.dimension-scale-3:after {
	height: $scale-3;
	width: $scale-3;
}
.dimension-scale-4:after {
	height: $scale-4;
	width: $scale-4;
}
.dimension-scale-5:after {
	height: $scale-5;
	width: $scale-5;
}
.dimension-scale-6:after {
	height: $scale-6;
	width: $scale-6;
}

.semi-sg-palette {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}

.semi-sg-swatch {
	list-style: none;
	margin-bottom: 2em;
	width: 12em;
	li {
		padding: 0;
		&:not(:first-of-type) {	
			color: $color-gray-3;
		}
	}
	i {
		font-size: 1.25em;
		&:before {
			background: $color-semi;
			content: '';
			display: block;
			height: 5em;
			margin-bottom: .5em;
		}
	}
}

.semi-sg-swatch--color-semi-tint--5 i:before {background: $color-semi-tint--5;}
.semi-sg-swatch--color-semi-tint--4 i:before {background: $color-semi-tint--4;}
.semi-sg-swatch--color-semi-tint--3 i:before {background: $color-semi-tint--3;}
.semi-sg-swatch--color-semi-tint--2 i:before {background: $color-semi-tint--2;}
.semi-sg-swatch--color-semi-tint--1 i:before {background: $color-semi-tint--1;}
.semi-sg-swatch--color-semi-tint-1 i:before {background: $color-semi-tint-1;}
.semi-sg-swatch--color-semi-tint-2 i:before {background: $color-semi-tint-2;}
.semi-sg-swatch--color-semi-tint-3 i:before {background: $color-semi-tint-3;}
.semi-sg-swatch--color-semi-tint-4 i:before {background: $color-semi-tint-4;}

.semi-sg-swatch--color-semi-accent-tint--5 i:before {background: $color-semi-accent-tint--5;}
.semi-sg-swatch--color-semi-accent-tint--4 i:before {background: $color-semi-accent-tint--4;}
.semi-sg-swatch--color-semi-accent-tint--3 i:before {background: $color-semi-accent-tint--3;}
.semi-sg-swatch--color-semi-accent-tint--2 i:before {background: $color-semi-accent-tint--2;}
.semi-sg-swatch--color-semi-accent-tint--1 i:before {background: $color-semi-accent-tint--1;}
.semi-sg-swatch--color-semi-accent i:before {background: $color-semi-accent;}
.semi-sg-swatch--color-semi-accent-tint-1 i:before {background: $color-semi-accent-tint-1;}
.semi-sg-swatch--color-semi-accent-tint-2 i:before {background: $color-semi-accent-tint-2;}
.semi-sg-swatch--color-semi-accent-tint-3 i:before {background: $color-semi-accent-tint-3;}
.semi-sg-swatch--color-semi-accent-tint-4 i:before {background: $color-semi-accent-tint-4;}


.semi-sg-swatch--color-interactive--5 i:before {background: $color-interactive-tint--5;}
.semi-sg-swatch--color-interactive--4 i:before {background: $color-interactive-tint--4;}
.semi-sg-swatch--color-interactive--3 i:before {background: $color-interactive-tint--3;}
.semi-sg-swatch--color-interactive--2 i:before {background: $color-interactive-tint--2;}
.semi-sg-swatch--color-interactive--1 i:before {background: $color-interactive-tint--1;}
.semi-sg-swatch--color-interactive i:before {background: $color-interactive;}
.semi-sg-swatch--color-interactive-1 i:before {background: $color-interactive-tint-1;}
.semi-sg-swatch--color-interactive-2 i:before {background: $color-interactive-tint-2;}
.semi-sg-swatch--color-interactive-3 i:before {background: $color-interactive-tint-3;}
.semi-sg-swatch--color-interactive-4 i:before {background: $color-interactive-tint-4;}

.semi-sg-swatch--color-olive--5 i:before {background: $color-support-tint--5;}
.semi-sg-swatch--color-olive--4 i:before {background: $color-support-tint--4;}
.semi-sg-swatch--color-olive--3 i:before {background: $color-support-tint--3;}
.semi-sg-swatch--color-olive--2 i:before {background: $color-support-tint--2;}
.semi-sg-swatch--color-olive--1 i:before {background: $color-support-tint--1;}
.semi-sg-swatch--color-olive i:before {background: $color-support;}
.semi-sg-swatch--color-olive-1 i:before {background: $color-support-tint-1;}
.semi-sg-swatch--color-olive-2 i:before {background: $color-support-tint-2;}
.semi-sg-swatch--color-olive-3 i:before {background: $color-support-tint-3;}
.semi-sg-swatch--color-olive-4 i:before {background: $color-support-tint-4;}


.semi-sg-swatch--color-black i:before {background: $color-black;}
.semi-sg-swatch--color-gray-1 i:before {background: $color-gray-1;}
.semi-sg-swatch--color-gray-2 i:before {background: $color-gray-2;}
.semi-sg-swatch--color-gray-3 i:before {background: $color-gray-3;}
.semi-sg-swatch--color-gray-4 i:before {background: $color-gray-4;}
.semi-sg-swatch--color-gray-5 i:before {background: $color-gray-5;}
.semi-sg-swatch--color-gray-6 i:before {background: $color-gray-6;}

.semi-sg-swatch--color-info i:before {background: $color-info;}
.semi-sg-swatch--color-info-bg i:before {background: $color-info-bg;}
.semi-sg-swatch--color-success i:before {background: $color-success;}
.semi-sg-swatch--color-success-bg i:before {background: $color-success-bg;}
.semi-sg-swatch--color-warning i:before {background: $color-warning;}
.semi-sg-swatch--color-warning-bg i:before {background: $color-warning-bg;}

.semi-sg-swatch--color-mark i:before {background: $color-mark;}

.semi-sg-grid {
	ul {
		display: flex;
		list-style: none;
	}
	li {
		background: $color-helper-2;
		border: 1px dotted $color-helper-1;
		flex: 1 1 16px;
		font-size: $scale--1;
		&:not(:last-child) {
			margin-right: $scale-0;
		}
	}
}

// End: Style guide