// Begin: Style guide
.semi-sg {
	> h2 {
		border-bottom: $border-1;
		margin-bottom: $scale--1;
		margin-top: $scale-1;
		padding-bottom: $scale--1;
	}
	> section {
    	border-bottom: 6px solid $color-black;
    	margin-bottom: 3em;
    	padding-bottom: 3em;
    	h3, h4, h5 {
        	margin: 2em 0 1em;
    	}
	}
}

.body--styleguide::before {
	background: $color-helper-2;
	color: $color-helper-1;
	content: 'brkpnt 20em – 34em';
	opacity: .6;
	padding: .5em 1em;
	right: 0;
	position: fixed;
	top: 0;
}

@media (min-width: 34em) {
	.body--styleguide::before {
		content: 'brkpnt 34em – 42em';
	}
}
@media (min-width: 42em) {
	.body--styleguide::before {
		content: 'brkpnt 42em – 48em';
	}
}
@media (min-width: 48em) {
	.body--styleguide::before {
		content: 'brkpnt 48em – 56em';
	}
}
@media (min-width: 56em) {
	.body--styleguide::before {
		content: 'brkpnt 56em – 80em';
	}
}
@media (min-width: 80em) {
	.body--styleguide::before {
		content: 'brkpnt > 80em';
	}
}


.dimension {
	li {
		list-style: none;
		margin-bottom: $scale-0;
		&:after {
			border: 1px dotted $color-helper-1;
			content: '';
			background: $color-helper-2;
			display: block;
		}
	}
}
.dimension-scale-0:after {
	height: $scale-0;
	width: $scale-0;
}
.dimension-scale--1:after {
	height: $scale--1;
	width: $scale--1;
}
.dimension-scale-1:after {
	height: $scale-1;
	width: $scale-1;
}
.dimension-scale-2:after {
	height: $scale-2;
	width: $scale-2;
}
.dimension-scale-3:after {
	height: $scale-3;
	width: $scale-3;
}
.dimension-scale-4:after {
	height: $scale-4;
	width: $scale-4;
}
.dimension-scale-5:after {
	height: $scale-5;
	width: $scale-5;
}
.dimension-scale-6:after {
	height: $scale-6;
	width: $scale-6;
}

.semi-sg-palette {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}

.semi-sg-swatch {
	list-style: none;
	margin-bottom: 2em;
	width: 6em;
	li {
		font-size: .75em;
		padding: 0;
		&:not(:first-of-type) {	
			color: $color-gray-3;
		}
	}
	i {
		&:before {
			background: $color-semi;
			content: '';
			display: block;
			height: 5em;
			margin-bottom: .5em;
		}
	}
}

.semi-sg-swatch--color-semi-tint--5 i:before {background: $color-semi-tint--5;}
.semi-sg-swatch--color-semi-tint--4 i:before {background: $color-semi-tint--4;}
.semi-sg-swatch--color-semi-tint--3 i:before {background: $color-semi-tint--3;}
.semi-sg-swatch--color-semi-tint--2 i:before {background: $color-semi-tint--2;}
.semi-sg-swatch--color-semi-tint--1 i:before {background: $color-semi-tint--1;}
.semi-sg-swatch--color-semi-tint-1 i:before {background: $color-semi-tint-1;}
.semi-sg-swatch--color-semi-tint-2 i:before {background: $color-semi-tint-2;}
.semi-sg-swatch--color-semi-tint-3 i:before {background: $color-semi-tint-3;}
.semi-sg-swatch--color-semi-tint-4 i:before {background: $color-semi-tint-4;}

.semi-sg-swatch--color-semi-accent-tint--5 i:before {background: $color-semi-accent-tint--5;}
.semi-sg-swatch--color-semi-accent-tint--4 i:before {background: $color-semi-accent-tint--4;}
.semi-sg-swatch--color-semi-accent-tint--3 i:before {background: $color-semi-accent-tint--3;}
.semi-sg-swatch--color-semi-accent-tint--2 i:before {background: $color-semi-accent-tint--2;}
.semi-sg-swatch--color-semi-accent-tint--1 i:before {background: $color-semi-accent-tint--1;}
.semi-sg-swatch--color-semi-accent i:before {background: $color-semi-accent;}
.semi-sg-swatch--color-semi-accent-tint-1 i:before {background: $color-semi-accent-tint-1;}
.semi-sg-swatch--color-semi-accent-tint-2 i:before {background: $color-semi-accent-tint-2;}
.semi-sg-swatch--color-semi-accent-tint-3 i:before {background: $color-semi-accent-tint-3;}
.semi-sg-swatch--color-semi-accent-tint-4 i:before {background: $color-semi-accent-tint-4;}


.semi-sg-swatch--color-interactive--5 i:before {background: $color-interactive-tint--5;}
.semi-sg-swatch--color-interactive--4 i:before {background: $color-interactive-tint--4;}
.semi-sg-swatch--color-interactive--3 i:before {background: $color-interactive-tint--3;}
.semi-sg-swatch--color-interactive--2 i:before {background: $color-interactive-tint--2;}
.semi-sg-swatch--color-interactive--1 i:before {background: $color-interactive-tint--1;}
.semi-sg-swatch--color-interactive i:before {background: $color-interactive;}
.semi-sg-swatch--color-interactive-1 i:before {background: $color-interactive-tint-1;}
.semi-sg-swatch--color-interactive-2 i:before {background: $color-interactive-tint-2;}
.semi-sg-swatch--color-interactive-3 i:before {background: $color-interactive-tint-3;}
.semi-sg-swatch--color-interactive-4 i:before {background: $color-interactive-tint-4;}

.semi-sg-swatch--color-olive--5 i:before {background: $color-support-tint--5;}
.semi-sg-swatch--color-olive--4 i:before {background: $color-support-tint--4;}
.semi-sg-swatch--color-olive--3 i:before {background: $color-support-tint--3;}
.semi-sg-swatch--color-olive--2 i:before {background: $color-support-tint--2;}
.semi-sg-swatch--color-olive--1 i:before {background: $color-support-tint--1;}
.semi-sg-swatch--color-olive i:before {background: $color-support;}
.semi-sg-swatch--color-olive-1 i:before {background: $color-support-tint-1;}
.semi-sg-swatch--color-olive-2 i:before {background: $color-support-tint-2;}
.semi-sg-swatch--color-olive-3 i:before {background: $color-support-tint-3;}
.semi-sg-swatch--color-olive-4 i:before {background: $color-support-tint-4;}


.semi-sg-swatch--color-black i:before {background: $color-black;}
.semi-sg-swatch--color-gray-1 i:before {background: $color-gray-1;}
.semi-sg-swatch--color-gray-2 i:before {background: $color-gray-2;}
.semi-sg-swatch--color-gray-3 i:before {background: $color-gray-3;}
.semi-sg-swatch--color-gray-4 i:before {background: $color-gray-4;}
.semi-sg-swatch--color-gray-5 i:before {background: $color-gray-5;}
.semi-sg-swatch--color-gray-6 i:before {background: $color-gray-6;}
.semi-sg-swatch--color-gray-7 i:before {background: $color-gray-7;}

.semi-sg-swatch--color-info i:before {background: $color-info;}
.semi-sg-swatch--color-info-bg i:before {background: $color-info-bg;}
.semi-sg-swatch--color-success i:before {background: $color-success;}
.semi-sg-swatch--color-success-bg i:before {background: $color-success-bg;}
.semi-sg-swatch--color-warning i:before {background: $color-warning;}
.semi-sg-swatch--color-warning-bg i:before {background: $color-warning-bg;}

.semi-sg-swatch--color-mark i:before {background: $color-mark;}

.semi-sg-grid {
	ul {
		display: flex;
		list-style: none;
	}
	li {
		background: $color-helper-2;
		border: 1px dotted $color-helper-1;
		flex: 1 1 16px;
		font-size: $scale--1;
		&:not(:last-child) {
			margin-right: $scale-0;
		}
	}
}

.inverse {
    @include transition-out;
    background: $color-semi;
    &:hover {
        @include transition-in;
        background: $color-black;
    }
}

[contenteditable] {
    @include transition-out;
    cursor: hand;
    position: relative;
    &:after {
        @include transition-out;
        background: $color-semi;
        border-radius: $border-radius-2;
        color: $color-white;
        content: 'Edit me';
        font-family: $typeface-body;
        font-size: .85rem;
        left: -1em;
        opacity: 0;
        padding: .25em .5em;
        position: absolute;
        top: -1em;
    }
    &:hover {
        @include transition-in;
        background: $color-gray-7;
        cursor: hand;
        &:after {
            @include transition-in;
            border-radius: $border-radius-1;
            opacity: 1;
        }
    }
}

// End: Style guide