html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    background: $color-white;
    flex: 1;
    margin-bottom: -1.5em; // Accomodate the Kanagana wave footer
    padding: 0 1em 3.5em;
    article {
        margin: 0 auto;
        max-width: $component-primary-max-width;
    }
}

.call-out {
    @media screen and (min-width: 60em) {
        margin: 0 -3em;
    }
    @media screen and (min-width: 64em) {
        margin: 0 -5em;
    }
    @media screen and (min-width: 80em) {
        margin: 0 -10em;
    }
}