.icon {
    background-repeat: no-repeat;
    background-size: contain;
    border-bottom: none;
    display: block;
    height: 16px;
    width: 16px;
    i {
        @include visually-hidden;
    }
    &:hover, &:focus, &:active {
        background-color: unset;
        background-repeat: no-repeat;
        background-size: contain;
        outline: none;
    }
}

.close {
    white-space: nowrap;
    &:before {
        content: '×';
        line-height: 0;
        margin-right: .25em;
    }
}
