@mixin pattern-semi {
    background: url('/img/pattern-semi.svg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    @media screen and (min-width: 48em) {
        margin-left: calc(-100vw / 2 + calc(#{$component-primary-max-width} + 1em) / 2);
        margin-right: calc(-100vw / 2 + calc(#{$component-primary-max-width} + 1em) / 2);
    }
}

.page--home { // RtP specs
    .header-container {
        background: $color-almostblack;
    }
    .nav-main {
        li {
            a {
                color: $color-white;
                font-size: 1em;
                font-style: italic;
                font-variant: normal;
                text-transform: none;
            }
        }
    }
    .nav-main-contact {
        display: none;
    }
    main {
        background: $color-semi;
        background: url('/img/pattern-semi.svg');
        background-size: cover;  
    }
    h1 {
        color: $color-almostblack-tint--3;
        color: $color-white;
        font-size: 3.75rem;
        font-style: italic;
        padding: 1em 0 1em;
        em {
            color: $color-semi-tint-2;
            color: $color-almostblack;
        }
    }
    h2 {
        color: #fff;
        span {
            color: $color-almostblack;
        }
    }
    p, li {
        font-family: $typeface-brand;
    }
    .button--cta {
        font-family: $typeface-brand;
        margin-bottom: 4em;
    }
    .cards {
        
    }
    .card { // RtP specs
        background: #af9f22;
        border-radius: 0;
        color: $color-white;
        margin-left: 2em;
        margin-right: 2em;
        padding: 2em;
        .button {
            background: $color-white;
            color: $color-almostblack;
            margin-top: 1.5em;
        }
        &:last-child {
            background: $color-almostblack;
        }
        a {
            border-bottom: 0 !important;
            color: $color-white;
        }
    }
}

.section-heading--primary {
    div {
        margin: 0 auto;
        max-width: $component-primary-max-width;
    }
}

.section-emphasized { // RtP specs
    margin: 2em 0 3em;
    > div {
        @include background-opacity($color-almostblack, .5);
        //border-radius: $border-radius-1;
        margin: 0 auto;
        max-width: $component-primary-max-width;
        padding: 2em;
    }
    h2 {
        
    }
    .semi-usp {
        @media screen and (min-width: 48em) {
            display: flex;
            align-items: center;
        }
        div {
            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;
        }
    }
    p {
        color: #fff;
        @media screen and (min-width: 48em) {
            padding: .5rem 5rem .5rem .5rem;
        }
    }
    @media screen and (min-width: 48em) {
        h2 {
            margin-left: 2rem;
            padding: 0 0 0 150px;
        }
        p {
            padding-left: 2rem;
        }
    }
}

.pattern-semi-bg {
    fill: red;
}