@mixin pattern-semi {
    background: url('/img/pattern-semi-inv.svg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100%;
    margin-left: calc(-100vw / 2 + 39em / 2);
    margin-right: calc(-100vw / 2 + 39em / 2);
}

.page--home {
    h1 {
        @include background-opacity($color-white, .8);
        color: $color-almostblack-tint--3;
        font-size: 3.75rem;
        padding: 1em 0 1em;
        text-align: center;
        em {
            color: $color-semi-tint-2;
        }
    }
    section {
        margin-bottom: 3em;
    }
    .button--cta {
        font-size: 1.5rem;
    }
}

.section-heading--primary {
    @include pattern-semi;
    div {
        margin: 0 auto;
        max-width: $component-primary-max-width;
    }
}

.section-emphasized {
    @include pattern-semi;
    > div {
        @include background-opacity($color-almostblack-tint--9, .8);
        border-radius: $border-radius-1;
        margin: 0 auto;
        max-width: $component-primary-max-width;
        padding: 1em .25em;
    }
    h2 {
        padding: 0 1em;
    }
    .semi-usp {
        @media screen and (min-width: 48em) {
            display: flex;
            align-items: center;
        }
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
    p, i {
        padding: .5em 1em;
    }
    i {
        display: block;
        flex-shrink: 0;
        text-align: center;
    }
    em {
        color: $color-semi-tint-3;
    }
}

.pattern-semi-bg {
    fill: red;
}