.product  {
    h2 {
        color: $color-semi-tint-1;
        font-size: 2.815rem;
        img {
            height: 2em;
            margin-bottom: -.6em;
//            vertical-align: text-bottom;
        }
    }
}

.product-semi--local {
    background: url('/img/icon-semi-network.svg');
    background-position: -1em -1em;
    background-repeat: no-repeat;
}

.product-semi--world {
    background: url('/img/icon-semi-network-of-networks.svg');
    background-position: -1em -1em;
    background-repeat: no-repeat;
}