.product  {
    h2 {
        color: $color-semi-tint-1;
        font-size: 2.815rem;
        padding: .5em 0;
        img {
            height: 2em;
            margin-bottom: -.6em;
//            vertical-align: text-bottom;
        }
    }
}

.product-banner {
    padding: 2em 0 0;
    text-align: center;
}

.product-semi--local {
    background: $color-white;
    //@include transition-out;
    //background: $color-olive-analogous-tint--9;
    //&:hover {
    //    @include transition-in;
    //    background: $color-olive-analogous-tint--8;
    //}
}

.product-semi--world {
    background: $color-white;
    //@include transition-out;
    //background: $color-olive-triadic-tint--9;&:hover {
    //    @include transition-in;
    //    background: $color-olive-triadic-tint--8;
    //}
}