.article-container {
    > section {
        margin-top: 2em;
    }
}

.article-toc-container {
    background: #fff;
    display: none;
    z-index: 2;
}
.rtp-category {
    display: none;
}

.article-toc {  
    position: relative;
    top: .5em;
}

.show-toc {
    margin-bottom: 2em;
    img {
        width: 16px;
    }
    &.close {
        font-size: 1rem;
        position: absolute;
        right: 1em;
        top: 1em;
    }
}

@media screen and (min-width: 48em) {
    .show-toc {
        display: none;
    }
    .article-toc-container {
        display: block;
    }
    .article-toc {
        top: 0;
    }
    .article-container {
        display: flex;
        > section {
            margin-top: 0;
        }

    }
    .rtp-category {
        display: block;
    }
}