.product  {
    h2 {
        padding: .5em 0;
        img {
            height: 2em;
            margin-bottom: -.5em;
        }
    }
    h3 {
        strong {
            display: block;
        }
    }
}

.product-banner {
    text-align: center;
    img {
        margin-right: 1rem;
    }
}

.product-semi--local { // RtP specs
    background: $color-white;
    border: 2px solid #40d42c;
    border-radius: $border-radius-3;
    .button--cta {
        background: #40d42c;
    }
}

.product-semi--world { // RtP specs
    background: $color-white;
    border: 2px solid #af9f22;
    border-radius: $border-radius-3;
    .button--cta {
        background: #af9f22;
    }
}

.page--products {
    p, li { // RtP specs
        font-family: $typeface-brand !important;
    }
    .pilar {
        h2 {
            font-size: 2.185rem;
        }
        h3 {
            font-size: 1.25rem;
            text-transform: uppercase;
            @media screen and (min-width: 53.875em) {
                height: 6em;
            }
        }
    }
}