.article-container {
    > section {
        margin-top: 2em;
    }
}

.article-toc-container {
    background: #fff;
    display: none;
    @media screen and (max-width: 47.9em) {
        left: 0;
        padding: 1em;
        position: absolute;
        right: 0;
        z-index: 2;
    }
}
.rtp-category {
    display: none;
}

.article-toc {  
    position: relative;
    top: .5em;
}

.show-toc {
    &.close {
        font-size: 1rem;
        position: absolute;
        right: 1em;
        top: 1em;
    }
    &:before {
        background-image: url('/img/icon-toc.svg');
        background-repeat: no-repeat;
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: .35em;
        overflow: auto;
        width: 16px;
    }
    &:hover {
        &:before {
            background-image: url('/img/icon-toc--active.svg');
            background-repeat: no-repeat;
        }
    }
}

@media screen and (min-width: 48em) {
    .show-toc {
        display: none;
    }
    .article-toc-container {
        display: block;
    }
    .article-toc {
        top: 0;
    }
    .article-container {
        display: flex;
        > section {
            margin-top: 0;
        }

    }
    .rtp-category {
        display: block;
    }
}