.product  {
    h2 {
        padding: .5em 0;
        img {
            height: 2em;
            margin-bottom: -.5em;
        }
    }
    h3 {
        strong {
            display: block;
        }
    }
}

.product-banner {
    padding: 2em 0 0;
    text-align: center;
}

.product-semi--local {
    background: $color-white;
    //@include transition-out;
    //background: $color-olive-analogous-tint--9;
    //&:hover {
    //    @include transition-in;
    //    background: $color-olive-analogous-tint--8;
    //}
}

.product-semi--world {
    background: $color-white;
    //@include transition-out;
    //background: $color-olive-triadic-tint--9;&:hover {
    //    @include transition-in;
    //    background: $color-olive-triadic-tint--8;
    //}
}