.page--home {
    h1 {
        color: $color-almostblack-tint--1;
        font-size: 3.75rem;
        margin: 1em 0 2em;
        text-align: center;
        em {
            @include background-opacity($color-almostblack-tint--1, .05);
            @include transition-out;
            color: $color-semi-tint-2;
            margin: -.25em;
            padding: .25em;
            &:hover {
                @include background-opacity($color-almostblack-tint--1, .075);
                @include transition-in;
            }
        }
    }
    section {
        margin-bottom: 3em;
    }
    .button--cta {
        font-size: 1.5rem;
    }
}

.section-emphasized {
    @include background-opacity($color-almostblack-tint--1, .05);
    @include transition-out;
    padding: 1em .25em;
    &:hover {
        @include background-opacity($color-almostblack-tint--1, .075);
        @include transition-in;
    }
    h2 {
        padding: 0 1em;
    }
    div {
        @media screen and (min-width: 48em) {  
            display: flex;
            align-items: center;
        }
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
    p, i {
        padding: .5em 1em;
    }
    i {
        display: block;
        flex-shrink: 0;
        text-align: center;
    }
    em {
        color: $color-semi-tint-3;
    }
}