.page--search {
    .title {
        display: inline-block;
        font-family: $typeface-body;
        font-size: 1.35rem;
    }
    .searchBox {
        margin: 0 0 2em;
    }
    .resultHTML {
        color: $color-almostblack-tint--3;
        b {
            @extend strong;
        }
    }
}