@mixin pattern-semi {
    background: url('/img/pattern-semi-inv.svg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100%;
    background-size: cover;
    @media screen and (min-width: 48em) {
        margin-left: calc(-100vw / 2 + calc(#{$component-primary-max-width} + 1em) / 2);
        margin-right: calc(-100vw / 2 + calc(#{$component-primary-max-width} + 1em) / 2);
    }
}

.page--home { // RtP specs
    main {
        background: $color-semi;
    }
    h1 {
        color: $color-almostblack-tint--3;
        color: $color-white;
        font-size: 3.75rem;
        font-style: italic;
        padding: 1em 0 1em;
        em {
            color: $color-semi-tint-2;
            color: $color-almostblack;
        }
    }
    h2 {
        color: #fff;
        span {
            color: $color-almostblack;
        }
    }
    section {
        margin-bottom: 3em;
    }
    .button--cta {
        margin-bottom: 2em;
    }
    .cards {
        
    }
    .card {
        background: #af9f22;
        border-radius: 0;
        color: $color-white;
        .button {
            background: $color-white;
            color: $color-almostblack;
        }
        &:last-child {
            background: $color-almostblack;
        }
        a {
            border-bottom: 0 !important;
            color: $color-white;
        }
    }
}

.section-heading--primary {
    div {
        margin: 0 auto;
        max-width: $component-primary-max-width;
    }
}

.section-emphasized { // RtP specs
    > div {
        @include background-opacity($color-almostblack, .5);
        //border-radius: $border-radius-1;
        margin: 0 auto;
        max-width: $component-primary-max-width;
        padding: 2em;
    }
    h2 {
        padding: 0 0 0 13.5rem;
    }
    .semi-usp {
        @media screen and (min-width: 48em) {
            display: flex;
            align-items: center;
        }
        //&:nth-child(odd) {
        //    flex-direction: row-reverse;
        //}
    }
    p, i {
        color: #fff;
        padding: .5em 1em;
    }
    i {
        display: block;
        flex-shrink: 0;
        text-align: center;
        width: 12rem;
    }
}

.pattern-semi-bg {
    fill: red;
}