.page--search {
    .title {
        display: inline-block;
        font-family: $typeface-body;
        font-size: 1.35rem;
        margin-bottom: 1.5em;
    }
    .searchBox {
        margin: 0 0 1.5em;
    }
    .resultHTML {
        color: $color-gray-2;
        b {
            @extend strong;
        }
    }
}