$color-white: #fff;
$color-black: #00152b; // Almost Black


$color-semi: #fa0171; // Vivid Pink
$color-semi-tint--5: #ffe7f7;
$color-semi-tint--4: #ffbddc;
$color-semi-tint--3: #ff90bd;
$color-semi-tint--2: #ff5fa0;
$color-semi-tint--1: #fc3988;
$color-semi-tint-1: #e7006b;
$color-semi-tint-2: #d20268;
$color-semi-tint-3: #bc0063;
$color-semi-tint-4: #95025c;

$color-semi-accent: #38d611; // Strong Lime
//$color-semi-accent: #1ae3de;
$color-semi-accent-tint--5: #e8ffdd;
$color-semi-accent-tint--4: #def8d3;
$color-semi-accent-tint--3: #bcf0a7;
$color-semi-accent-tint--2: #97e87b;
$color-semi-accent-tint--1: #6bdf4a;
$color-semi-accent-tint-1: #1ec600;
$color-semi-accent-tint-2: #00b800;
$color-semi-accent-tint-3: #00aa00;
$color-semi-accent-tint-4: #009c00;


$color-interactive: #0070e6; // Indigo
$color-interactive: #304a6c;
$color-interactive-tint--5: #eff7ff;
$color-interactive-tint--4: #d5eaff;
$color-interactive-tint--3: #a5c5ff;
$color-interactive-tint--2: #77a4f9;
$color-interactive-tint--1: #4c88ee;
$color-interactive-tint-1: #0067dc;
$color-interactive-tint-2: #005dcf;
$color-interactive-tint-3: #0053c3;
$color-interactive-tint-4: #003eac;

$color-support: #b0a002; // Olive
$color-support-tint--5: #fff9d2;
$color-support-tint--4: #f7ebbd;
$color-support-tint--3: #ead77c;
$color-support-tint--2: #d9c539;
$color-support-tint--1: #c4b223;
$color-support-tint-1: #af8d00;
$color-support-tint-2: #a97d00;
$color-support-tint-3: #a76a00;
$color-support-tint-4: #aa5300;

$color-olive-analogous: #b04802; // Olive analogous
$color-olive-analogous-tint--9: #f9eae6;
$color-olive-analogous-tint--8: #faceba;
$color-olive-analogous-tint--7: #f7b08e;
$color-olive-analogous-tint--6: #f39260;
$color-olive-analogous-tint--5: #f17c3b;
$color-olive-analogous-tint--4: #ee6912;
$color-olive-analogous-tint--3: #e4630e;
$color-olive-analogous-tint--2: #d65b09;
$color-olive-analogous-tint--1: #c95406;

$color-olive-triadic: #005744; // Olive triadic
$color-olive-triadic-tint--9: #e0f4f2;
$color-olive-triadic-tint--8: #b2e3dd;
$color-olive-triadic-tint--7: #7ed2c7;
$color-olive-triadic-tint--6: #45bfb0;
$color-olive-triadic-tint--5: #02b09f;
$color-olive-triadic-tint--4: #00a18d;
$color-olive-triadic-tint--3: #009480;
$color-olive-triadic-tint--2: #00836f;
$color-olive-triadic-tint--1: #007360;

$color-almostblack: $color-black; // Almost Black
$color-almostblack-tint--9: #e2e9ff;
$color-almostblack-tint--8: #bacbe5;
$color-almostblack-tint--7: #96a7c5;
$color-almostblack-tint--6: #7285a7;
$color-almostblack-tint--5: #586d91;
$color-almostblack-tint--4: #3d577c;
$color-almostblack-tint--3: #304a6c;
$color-almostblack-tint--2: #213957;
$color-almostblack-tint--1: #122742;

$color-almostblack-analogous: #002a2b; // Almost Black analogous
$color-almostblack-analogous-tint--9: #d7f2f3;
$color-almostblack-analogous-tint--8: #b7d8d6;
$color-almostblack-analogous-tint--7: #93bbba;
$color-almostblack-analogous-tint--6: #6e9e9e;
$color-almostblack-analogous-tint--5: #538989;
$color-almostblack-analogous-tint--4: #367475;
$color-almostblack-analogous-tint--3: #2c6665;
$color-almostblack-analogous-tint--2: #1e5252;
$color-almostblack-analogous-tint--1: #103f40;

$color-almostblack-triadic: #2b0015; // Almost Black triadic
$color-almostblack-triadic-tint--9: #ffdfe0;
$color-almostblack-triadic-tint--8: #dfb8be;
$color-almostblack-triadic-tint--7: #ba8e97;
$color-almostblack-triadic-tint--6: #97646e;
$color-almostblack-triadic-tint--5: #7e4653;
$color-almostblack-triadic-tint--4: #662839;
$color-almostblack-triadic-tint--3: #5a2132;
$color-almostblack-triadic-tint--2: #4b1728;
$color-almostblack-triadic-tint--1: #3b0d1f;

$color-gray-1: #2b2b2b; // Almost Black desaturated
$color-gray-2: #5e5e5e;
$color-gray-3: #848484;
$color-gray-4: #ababab;
$color-gray-5: #d1d1d1;
$color-gray-6: #eaeaea;
$color-gray-7: #f7f7f7;

$color-info: #fce81c;
$color-info-bg: #fffce5;

$color-success: #01cc26;
$color-success-bg: #e7ffeb;

$color-warning: #ff1101;
$color-warning-bg: #ffe8e7;

$color-mark: #f3fb01;