$color-white: #fff;
$color-black: #00152b; // Almost Black


$color-semi: #fa0171; // Vivid Pink
$color-semi-tint--5: #ffe7f7;
$color-semi-tint--4: #ffbddc;
$color-semi-tint--3: #ff90bd;
$color-semi-tint--2: #ff5fa0;
$color-semi-tint--1: #fc3988;
$color-semi-tint-1: #e7006b;
$color-semi-tint-2: #d20268;
$color-semi-tint-3: #bc0063;
$color-semi-tint-4: #95025c;


$color-semi-accent: #38d611; // Strong Lime
$color-semi-accent-tint--5: #e8ffdd;
$color-semi-accent-tint--4: #def8d3;
$color-semi-accent-tint--3: #bcf0a7;
$color-semi-accent-tint--2: #97e87b;
$color-semi-accent-tint--1: #6bdf4a;
$color-semi-accent-tint-1: #1ec600;
$color-semi-accent-tint-2: #00b800;
$color-semi-accent-tint-3: #00aa00;
$color-semi-accent-tint-4: #009c00;


$color-interactive: #0171e7; // Indigo
$color-interactive-tint--5: #eff7ff;
$color-interactive-tint--4: #d5eaff;
$color-interactive-tint--3: #a5c5ff;
$color-interactive-tint--2: #77a4f9;
$color-interactive-tint--1: #4c88ee;
$color-interactive-tint-1: #0067dc;
$color-interactive-tint-2: #005dcf;
$color-interactive-tint-3: #0053c3;
$color-interactive-tint-4: #003eac;

$color-support: #b0a002; // Olive
$color-support-tint--5: #fff9d2;
$color-support-tint--4: #f7ebbd;
$color-support-tint--3: #ead77c;
$color-support-tint--2: #d9c539;
$color-support-tint--1: #c4b223;
$color-support-tint-1: #af8d00;
$color-support-tint-2: #a97d00;
$color-support-tint-3: #a76a00;
$color-support-tint-4: #aa5300;

$color-gray-1: #2b2b2b; // Almost Black desaturated
$color-gray-2: #5e5e5e;
$color-gray-3: #848484;
$color-gray-4: #ababab;
$color-gray-5: #d1d1d1;
$color-gray-6: #eaeaea;

$color-info: #fce81c;
$color-info-bg: #fffce5;

$color-success: #01cc26;
$color-success-bg: #e7ffeb;

$color-warning: #ff1101;
$color-warning-bg: #ffe8e7;