$border-1: 1px solid $color-semi;

$border-radius-1: $scale-1 $scale-1 $scale-1 0;
$border-radius-2: $scale-1 0 $scale-1 $scale-1;

$border-radius-1-sm: $scale--1 $scale--1 $scale--1 0;
$border-radius-2-sm: $scale--1 0 $scale--1 $scale--1;