$scale-base: 1em;
$scale-interval: .5em;


$scale-0: $scale-base; // 16px
$scale--1: $scale-base/2; // 8px
$scale-1: $scale-base+$scale-interval; // 24px
$scale-2: $scale-base+$scale-interval*2; // 32px
$scale-3: $scale-1*2; // 48px
$scale-4: $scale-2*2; // 64px
$scale-5: $scale-4*2; // 128px
$scale-6: $scale-5*2; // 256px


$margin-single: $scale-0; // Single direction margin
$padding: $scale--1 $scale-0;

$component-primary-max-width: 38em;