{% include head.html %}

<body class="page--knowledge-base">

{% include component-header.html %}

<main>
	<article>
		
		<div class="article-container">
    		{% assign items_grouped = site.pages | group_by: 'topic' | sort: 'topic' %}
            <div class="article-container">
                <dl class="article-toc">
                    {% for group in items_grouped %}
                        <dt data-group="{{ group.name }}">{{ group.name }}</dt>
                        <dd>
                            <ul class="list-bullet bullet-rtp-green">
                                {% for page in site.pages %}
                                    {% if page.topic == group.name %}
                                        <li><a href="{{ page.url }}">{{ page.date | date: '%B %d, %Y' }}{{ page.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    {% endfor %}
                </dl>
                <div class="rtp-category rtp-category--build">
                    <p>Building your first use case</p>
                    <img src="/img/rtp-city-icon-2.1.svg" alt="">
                </div>
            </div>

            <section>
<!--
                <ol class="breadcrumb">
    				<li><a href="/knowledge-base">Knowledge base</a></li>
    				<li><a href="./">{{ page.topic }}</a></li>
    				<li>{{ page.title }}</li>
                </ol>
-->
        		<h1>{{ page.title }}</h1>
        		{% if page.description != null %}
        			<p class="intro">{{ page.description }}</p>
        		{% endif %}
                
                <dl class="tags">
                    <dt><i>Tags</i></dt>
                    <dd>
            			<ul class="tags">
                			{% for tag in page.tags %}
            					<li>{{ tag }}</li>
            				{% endfor %}
            			</ul>
                    </dd>
                </dl>
        
        		{% if page.related_to != null %}
        			{% for rels in page.related_to %}
        				<a href="#">{{ rels }}</a>
        			{% endfor %}
        		{% endif %}
        
                <section class="article">
        			{% for video in page.video-link %}
        				<figure class="video-container">
        				    <div>{{ video }}</div>
        				    {% for caption in page.video-caption %}
        				        <figcaption>
        				            {{ caption }}
                                </figcaption>
                            {% endfor %}
                        </figure>
        			{% endfor %}
        		    {{ content }}
                </section>
                
                <section class="article-author">
        			{% include author.md %}
                </section>
                
        <!--
                <section class="form-inline">
                    <p>Was this article useful?</p>
                    <ul>
                        <li><a href="#">Yes</a></li>
                        <li><a href="#">No</a></li>
                    </ul>
                </section>
        -->
            </section>            
		</div>        
	</article>
</main>

<!-- code highlights -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

{% include component-footer.html %}